.allpage-enter-active,
.allpage-leave-active {
  transition: opacity .5s;
}
.allpage-enter,
.allpage-leave-to {
  opacity: 0;
}

@keyframes move-left {
  0% {
    margin-left: -100%;
    margin-right: 100%;
    display:none;
  }
  1% {
    margin-left: -99%;
    margin-right: 99%;
    display: block;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
}

@keyframes move-right {
  0% {
    margin-left: 100%;
    margin-right: -100%;
    display:none;
  }
  1% {
    margin-left: 99%;
    margin-right: -99%;
    display: block;
  }
  100% {
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
}

@keyframes fade-out-next {
  0% {
    margin-left: 0;
    margin-right: 0;
    background: white;
  }
  100% {
    margin-left: 20%;
    margin-right: -20%;
    background: #ddd;
    display: none;
  }
}

@keyframes fade-out-prev {
  0% {
    margin-left: 0;
    margin-right: 0;
    background: white;
  }
  100% {
    margin-left: -20%;
    margin-right: 20%;
    background: #ddd;
    display: none;
  }
}

@keyframes fade-out {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}

@keyframes fade-in {
  0% {
    display:none;
    opacity: 0
  }
  1% {
    display: block;
    opacity: 0.01;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.oldpage {
  width: 100%;
  position: absolute;
  animation: fade-out;
  animation-duration: 1s;
}

.newpage {
  width: 100%;
  position: absolute;
  animation: fade-in;
  animation-duration: 1s;
}

.next {
  animation: move-left;
  animation-duration: 1s;
  position: absolute;
  display: block;
  z-index: 1;
}
.fade-out-next {
  position: relative;
  animation: fade-out-next;
  animation-duration: 1s;
}

.fade-out {
  position: relative;
  animation: fade-out;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.fade-in {
  position: absolute;
  top: 0;
  animation: fade-in;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.prev {
  animation: move-right;
  animation-duration: 1s;
  position: absolute;
  display: block;
  z-index: 1;
}

.fade-out-prev {
  position: relative;
  animation: fade-out-prev;
  animation-duration: 1s;
}
