* {
  padding: 0;
  margin: 0;
}

body {
  font-family: FS Elliot Pro Light;
  font-weight: lighter;
  font-size: 16px;
  line-height: 20px;
}
//.page-enter-active, .page-leave-active {
//  transition: opacity .5s;
//}
//.page-enter, .page-leave-to {
//  opacity: 0;
//}
//
//.layout-enter-active, .layout-leave-active {
//  transition: opacity .5s
//}
//.layout-enter, .layout-leave-active {
//  opacity: 0
//}
