@font-face {
  font-family: Vogue Highline Serif Medium;
  src:url('../fonts/vogue-highliner.eot');
  src:url('../fonts/vogue-highliner.ttf') format('truetype'),
  url('../fonts/vogue-highliner.woff') format('woff'),
  url('../fonts/vogue-highliner.svg#Vogue Highline Serif Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: FS Elliot Pro Light;
  src:url('../fonts/FSElliotPro-Light.eot');
  src:url('../fonts/FSElliotPro-Light.ttf') format('truetype'),
  url('../fonts/FSElliotPro-Light.woff') format('woff'),
  url('../fonts/FSElliotPro-Light.svg#FS Elliot Pro Light') format('svg');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: FS Elliot Pro;
  src:url('../fonts/FSElliotPro-Regular.eot');
  src:url('../fonts/FSElliotPro-Regular.ttf') format('truetype'),
  url('../fonts/FSElliotPro-Regular.woff') format('woff'),
  url('../fonts/FSElliotPro-Regular.svg#FS Elliot Pro Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: FS Elliot Pro Bold;
  src:url('../fonts/FSElliotPro-Bold.eot');
  src:url('../fonts/FSElliotPro-Bold.ttf') format('truetype'),
  url('../fonts/FSElliotPro-Bold.woff') format('woff'),
  url('../fonts/FSElliotPro-Bold.svg#FS Elliot Pro Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}