footer.mobile {
  background: #e3d9d4 !important;
  flex-direction: column;
}

footer.desktop {
  padding: 20px 0 20px 40px;
}

footer.mobile .social {
  margin-top: 20px;
}

footer .social {
  li {
    display: inline-block;
    -webkit-animation: FadeInSocial 1s linear;
    animation-delay: 0s;
    animation-fill-mode: none;
    -webkit-animation-fill-mode: both;
    img {
      height: 17px;
      margin: 0 25px 0 0;
    }
  }
}

footer.mobile .footer-text{
  margin-top: 30px;
  width: 100%;
  text-align: left;
}

footer .logo-tel {
  display:flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 20px auto 0px;
  .call {
      margin-top: 40px;
      text-align: center;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      padding: 20px 0;
      width: 260px;
      text-transform: uppercase;
      font-size: 18px;
      border: 1px #666666 solid;
      color: #1a1a1a;
  }
}