aside {
  z-index: 41 !important;
}

.has_top {
  margin-top: 80px;
}

h1 {
  line-height: 1;
}

h2 {
  .header-font-upper;
  color: @color-white;
}

h3 {
  .header-font-upper;
  padding: 25px 0;
  position: relative;
}

a {
  text-decoration: none;
  color: @color-white;
  outline: none;
}
