/* Menu */
.nav-links {
  visibility: hidden;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  .transition(@time: 500ms);
  .transition-property;
}

.nav-links > ul {
  width: 200px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  position: relative;
}

.sub-nav-links {
  display: none;
  background-color: #f3f3f3;
}

li:hover .sub-nav-links,
li.current .sub-nav-links {
  display: block;
}

.sub-nav-links .sub-nav-links-inner {
  padding: 80px 20px 20px 60px;
}

#gnavi {
  float: left;
  position: fixed;
  z-index: 1002;
  top: 0;
  width: 100px;
}

.front-menu {
  width: 100%;
  // opacity: 0.3;
  // background: black;
}

#gnavi .nav-btn a {
}

#gnavi .nav-btn a .bars {
  display: inline-block;
  padding: 0 29px;
  width: 58px;
  height: 78px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.front-menu .nav-btn a .bars .bar {
  background-color: @menu_pin_color !important;
  left: 15px;
}

.front-menu.light .nav-btn a .bars .bar {
  background-color: @menu_pin_color_white !important;
}

.front-menu .nav-btn a .bars {
  padding: 5px !important;
  width: 58px !important;
  left: -15px;
}

.front-menu .nav-btn {
  display: inline-block;
  padding: 0 29px;
  width: 83px;
  height: 78px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

#gnavi .nav-btn a .bars .bar {
  display: block;
  position: absolute;
  width: 36px;
  height: 1px;
  background-color: #646470;
  .transition(@time: 375ms);
  -webkit-transition-property: top, opacity;
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  transition-property: top, opacity;

}

#gnavi .nav-btn a .bars .bar:nth-child(1) {
  top: 29px;
  opacity: 1;
  -webkit-transition-delay: 125ms;
  -moz-transition-delay: 125ms;
  -o-transition-delay: 125ms;
  transition-delay: 125ms;
}

#gnavi .nav-btn a .bars .bar:nth-child(2) {
  top: 42px;
  -webkit-transition-delay: 80ms;
  -moz-transition-delay: 80ms;
  -o-transition-delay: 80ms;
  transition-delay: 80ms;
}

#gnavi .nav-btn a .bars .bar:nth-child(3) {
  top: 55px;
  -webkit-transition-delay: 40ms;
  -moz-transition-delay: 40ms;
  -o-transition-delay: 40ms;
  transition-delay: 40ms;
}

#gnavi .nav-btn a .bars .bar:nth-child(4) {
  top: 68px;
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}

#gnavi .nav-btn a:hover .bars .bar:nth-child(1) {
  top: 22px;
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;

}

#gnavi .nav-btn a:hover .bars .bar:nth-child(2) {
  top: 32px;
  -webkit-transition-delay: 40ms;
  -moz-transition-delay: 40ms;
  -o-transition-delay: 40ms;
  transition-delay: 40ms;
}

#gnavi .nav-btn a:hover .bars .bar:nth-child(3) {
  top: 42px;
  -webkit-transition-delay: 80ms;
  -moz-transition-delay: 80ms;
  -o-transition-delay: 80ms;
  transition-delay: 80ms;
}

#gnavi .nav-btn a:hover .bars .bar:nth-child(4) {
  top: 52px;
  opacity: 1;
  -webkit-transition-delay: 125ms;
  -moz-transition-delay: 125ms;
  -o-transition-delay: 125ms;
  transition-delay: 125ms;
}

#gnavi.nav-open .nav-btn a .bars .bar:nth-child(1) {
  top: 42px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: rotate(45deg) scaleX(1.442);
  -moz-transform: rotate(45deg) scaleX(1.442);
  -o-transform: rotate(45deg) scaleX(1.442);
  transform: rotate(45deg) scaleX(1.442);

  opacity: 1;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  -webkit-transition-property: top, -webkit-transform;
  -moz-transition-property: top, -moz-transform;
  -o-transition-property: top, -o-transform;
  transition-property: top, transform;
  z-index: 999;
}

#gnavi.nav-open .nav-btn a .bars .bar:nth-child(2) {
  top: 46px;
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  z-index: 999;
}

#gnavi.nav-open .nav-btn a .bars .bar:nth-child(3) {
  top: 42px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg) scaleX(1.442);
  -moz-transform: rotate(-45deg) scaleX(1.442);
  -o-transform: rotate(-45deg) scaleX(1.442);
  transform: rotate(-45deg) scaleX(1.442);
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  -webkit-transition-property: top, -webkit-transform;
  -moz-transition-property: top, -moz-transform;
  -o-transition-property: top, -o-transform;
  transition-property: top, transform;
  z-index: 999;
}

#gnavi.nav-open .nav-btn a .bars .bar:nth-child(4) {
  top: 50px;
  opacity: 0;
  -webkit-transition: 0ms;
  -moz-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  z-index: 999;
}

#overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}

#gnavi .nav-btn a .bars-black .bar {
  background-color: #000 !important;
}
