.align-center {
  margin: 0 auto;
  display: block;
}
.border (@height: 1px, @color: #666666, @design: solid) {
  border: @height @color @design;
}
.border-bottom (@height: 1px, @color: #e6e6e6, @design: solid) {
  border-bottom: @height @color @design;
}
.border-top (@height: 1px, @color: #646470, @design: solid) {
  border-top: @height @color @design;
}
.border-left (@height: 1px, @color: #808080, @design: solid) {
  border-left: @height @color @design;
}
.border-right (@height: 1px, @color: #999999, @design: solid) {
  border-right: @height @color @design;
}
.border-radius (@radius: 4px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}
.calc (@width) {
  width: ~"-webkit-calc(100% - @{width})";
  width: ~"-o-calc(100% - @{width})";
  width: ~"calc(100% - @{width})";
}
.content-before {
  content: "";
  display: inline-block;
  position: relative;
}
.font-size-15 {
  font-size: 15px;
  line-height: 21px;
}
.font-size-16 {
  font-size: 16px;
  line-height: 20px;
}
.font-size-21 {
  font-size: 21px;
  line-height: 26px;
}
.font-vogue {
  font-family: Vogue Highline Serif Medium;
  font-weight: normal;
}
.font-elliot-light {
  font-family: FS Elliot Pro Light;
  font-weight: lighter;
}
.font-elliot {
  font-family: FS Elliot Pro;
  font-weight: normal;
}
.font-elliot-bold {
  font-family: FS Elliot Pro Bold;
  font-weight: bold;
}
.header-font-upper {
  font-family: Vogue Highline Serif Medium;
  font-weight: normal;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
.main-p {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
.table-cell-middle {
  display: table-cell;
  vertical-align: middle;
}
.transition05 {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.transform(@rotate: 0deg) {
  -moz-transform: rotate(@rotate);
  -webkit-transform: rotate(@rotate);
  -o-transform: rotate(@rotate);
  -ms-transform: rotate(@rotate);
  transform: rotate(@rotate);
}
.transition(@prop: all, @time: 400ms, @ease: linear) {
  -webkit-transition: @prop @time @ease;
  -moz-transition: @prop @time @ease;
  -o-transition: @prop @time @ease;
  transition: @prop @time @ease;
}
.transition-property(@prop: visibility) {
  -webkit-transition-property: @prop;
  -moz-transition-property: @prop;
  -o-transition-property: @prop;
  transition-property: @prop;
}
