@left: left;
@right: right;
@color-white: #fff;
@path: '../img/';
@width: 100px;
@padding: 10px;
@menu_pin_color: #000;
@menu_pin_color_white: #fff;
@body-font-family: "Verdana";
@title-font: "Verdana";
