<template>
    <div id="gnavi" class="nav front-menu" :class="gnaviClasses()" @click.stop="$store.commit('triggerMenu')">
        <div class="nav-btn">
            <a @click.prevent>
                <span class="bars">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>
            </a>
        </div>
    </div>
</template>

<script>
export default {
    methods: {
        gnaviClasses() {
            let open = this.$store.getters.menuOpened ? 'nav-open': '';
            let light = this.$store.state.light ? 'light' : '';
            return open + ' ' + light;
        }
    }
}
</script>
