<template>
    <div class="sidemenu" :class="open ? 'opened': ''">
        <div class="menu">
            <div
                class="ma-5 menuitem"
                v-for="(item, i) in menuleft"
                :key="i"
                @click="clickMenu(item)"
                :class="checkActiveMenu(item)"
            >
                {{ item.title }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        open: {
            get: function() {
                return this.$store.getters.menuOpened
            },
            set: function(val) {
                this.$store.commit('setMenuOpened', val);
            }
        }
    },
    data: () => ({
        menuleft: [
            {
                title: 'Главная',
                link: 'index'
            },
            {
                title: 'О нас',
                link: 'about'
            },
            {
                title: 'Портфолио',
                link: 'portfolio'
            }, {
                title: 'Контакты',
                link: 'contacts'
            }
        ]
    }),
    methods: {
        checkActiveMenu(item) {
            let a = this.$route.path;

            if (item.link == this.$route.name) {
                return 'active';
            } else {
                return '';
            }
        },
        clickMenu(item) {
            this.$store.commit('triggerMenu')
            // this.$nuxt.$emit('navigate', item.link, this)
            this.$router.push({
                name: item.link
            });
        }
    }
}
</script>

<style lang="scss" scoped>

.sidemenu {
    position: fixed;
    width: 270px;
    background: rgba(255, 255, 255, 0.7);
    height: 100%;
    top: 0;
    transition: 0.5s;
    left: -270px;
    z-index: 101;

    &.opened {
        left: 0;
    }

    .menu {
        margin-top: 158px;
        margin-left: 73px;

        .menuitem {
            color: #222222 !important;
            text-decoration: none;
            margin-bottom: 40px;
            text-transform: uppercase;
            font-family: FS Elliot Pro Light;
            font-size: 19px;
            cursor: pointer;

            &.active {
                font-family: FS Elliot Pro Bold;
            }
        }
    }
}
</style>
