<template>
    <footer>
        <div class="logo-tel">
            <img src="/static/Logo_stroke_b_1.svg" class="prosperity">
            <a href="tel:+7 916 166 38 06" class="call">Позвонить</a>
        </div>

        <ul class="social">
            <li>
                <a href="https://www.facebook.com/" class="ajax">
                    <img src="/static/facebook.svg" alt=""/>
                </a>
            </li>
            <li>
                <a href="https://www.houzz.ru/" class="ajax">
                    <img src="/static/i-2.svg" alt=""/>
                </a>
            </li>
            <li>
                <a href="https://instagram.com/oksanakorotkinastudio/" class="ajax">
                    <img src="/static/inst.svg" alt=""/>
                </a>
            </li>
        </ul>

        <div class="footer-text">
            OKSANAKOROTKINA Ⓒ 2008-2023
        </div>
    </footer>
</template>

<script>

export default {}

</script>

<style lang="scss" scoped>

footer {
    display: flex;
    padding: 20px 0 20px 40px;

    .social {
        li {
            display: inline-block;
            -webkit-animation: FadeInSocial 1s linear;
            animation-delay: 0s;
            animation-fill-mode: none;
            -webkit-animation-fill-mode: both;

            img {
                height: 17px;
                margin: 0 25px 0 0;
            }
        }
    }
    .logo-tel {
        display: none;
    }
}

@media (max-width: 700px) {
    footer {
        background: #e3d9d4 !important;
        flex-direction: column;
        justify-content: center;
        padding: 20px 10px 20px 10px;

        .social {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            li img {
                margin: 0 12px 0 12px;
            }
        }

        .footer-text {
            margin-top: 30px;
            padding-left: 20px;
            width: 100%;
            text-align: left;
        }
        .logo-tel {
            display:flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            margin: 20px auto 0px;
            .call {
                margin-top: 40px;
                text-align: center;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
                padding: 20px 0;
                width: 260px;
                text-transform: uppercase;
                font-size: 18px;
                border: 1px #666666 solid;
                color: #1a1a1a;
            }
        }
    }
}
</style>
