<template>
    <header>
        <div v-if="back" class="back">
            <NuxtLink :to="this.link">
                {{ this.back }}
            </NuxtLink>
        </div>
        <div v-if="title" class="title">
            {{ this.title }}
        </div>
    </header>
</template>

<script>
export default {
    props: ['back', 'link', 'title']
}
</script>

<style lang="scss" scoped>
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px black solid;
    background: white;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    .back {
        margin-left: 100px;
        flex: 1;
        margin-top: 12px;
        a:before {
            content: "";
            background: url(/static/arrow-back-grey.svg);
            width: 12px;
            height: 22px;
            margin-right: 20px;
            margin-top: -5px;
        }
        a {
            display: flex;
            color: #333333;
            font-size: 20px;
            text-transform: uppercase;
        }
    }

    .title {
        text-align: center;
        flex: 4;
        font-size: 2rem !important;
        text-transform: uppercase;
        font-family: "Vogue Highline Serif Medium" !important;
        font-weight: normal;
        color: #000;
    }
}

@media (max-width: 700px) {
    header {
        .title {
            font-size: 1.2rem !important;
        }
    }
}
</style>
