<template>
    <div class="overlay" :class="menuOpened()" @click="$store.commit('setMenuOpened', false)"></div>
</template>

<script>
export default {
    methods: {
        menuOpened() {
            if (this.$store.getters.menuOpened) {
                return 'fade';
            }
        }
    }
}
</script>

<style lang="scss" scoped>
.overlay {
    &.fade {
        display: block;
        opacity: 0.5;
        animation-name: fade ;
        animation-duration: 1s;
    }
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 40;
    display:none;
    opacity: 0;

    transition: opacity 1s ease;
}

@keyframes fade {
    0% {
        display: none;
        opacity: 0;
    }
    1% {
        display: block;
    }
    100% {
        display: block;
        opacity: 0.5;
    }
}
</style>
