<template>
    <a :href="item.link" target="_blank">
        <div class="img_public" @mouseover="hover = true" @mouseout="hover = false">
            <img :src="item.img">
            <div class="hover_img_public" v-if="item.hover" v-show="hover">
                <img :src="item.hover">
                <p>Читать статью</p>
            </div>
        </div>
    </a>
</template>

<script>
export default {
    data() {
        return {
            hover: false
        }
    },
    props: ['item'],
    methods: {

    }
}

</script>

<style lang="less" scoped>
a {
    .img_public {
        position: relative;
        margin: 20px;

        img {
            position: relative;
            top: 0;
            width: 100%;
        }

        .hover_img_public {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: white;
            opacity: 0.8;
            display: flex;
            flex-direction: column;

            img {
                top: 52px;
                position: relative;
                max-height: 21%;
                object-fit: contain;
                margin: 0 auto;
                display: block;
                width: 67%;
            }

            p {
                bottom: 18px;
                position: absolute;
                color: #000 !important;
                font-size: 14px;
                width: 100%;
            }
        }
    }
}
</style>
