<template>
    <div class="main has_top">
        <Oksheader back="Портфолио"
                   link="/portfolio"/>
        <div class="item">
            <div class="photosContainer" ref="photosContainer">
                <item-photos :item="item" :itemId="$route.params['id']"></item-photos>
            </div>
            <div class="infoContainer" ref="infoContainer">
                <item-info :item="item" @right="navigateNext" @left="navigatePrev"></item-info>
            </div>
        </div>
        <Oksfooter/>
    </div>
</template>

<script>
import ItemInfo from '../../components/item/info';
import ItemPhotos from '../../components/item/photos';
import Vue from 'vue'
var InfoClass = Vue.extend(ItemInfo)
var PhotosClass = Vue.extend(ItemPhotos);

import Base from '../../components/basePage';

export default {
    extends: Base,
    transition: {
        name: '',
        item_cnt: 0
    },
    fetch() {
        this.$store.commit('setMenuLight', false);
    },
    mounted() {
        this.item_cnt = this.$store.state.portfolio.length;
    },
    computed: {
        item() {
            return this.$store.getters.portfolioById(this.$route.params['id']);
        },
        nextItem() {
            return this.$store.getters.portfolioById(this.next(this.$route.params['id']))
        },
        prevItem() {
            return this.$store.getters.portfolioById(this.prev(this.$route.params['id']))
        }
    },
    methods: {
        next(id) {
            let _id = parseInt(id)
            _id++
            if (_id > this.item_cnt) _id = 1
            return _id
        },
        nextLink(id) {
            return '/portfolio/' + this.next(id)
        },
        prev(id) {
            let _id = parseInt(id)
            _id--
            if (_id < 1) _id = this.item_cnt;
            return _id;
        },
        prevLink(id) {
            return '/portfolio/' + this.prev(id)
        },
        navigateNext(id) {
            var newInfo = new InfoClass({
                store: this.$store,
                router: this.$router,
                propsData: { item: this.$store.getters.portfolioById(this.next(id)) }
            });
            newInfo.$mount();
            newInfo.$el.classList.value += ' next'
            newInfo.$on('right', this.navigateNext)
            newInfo.$on('left', this.navigatePrev)
            var oldInfo = this.$refs['infoContainer'].firstElementChild;
            oldInfo.classList.value += ' fade-out-next';
            this.$refs['infoContainer'].prepend(newInfo.$el);

            var newPhotos = new PhotosClass({
                store: this.$store,
                router: this.$router,
                propsData: { item: this.$store.getters.portfolioById(this.next(id)) }
            })
            newPhotos.$mount();
            newPhotos.$el.classList.value += ' fade-in'
            var oldPhotos = this.$refs['photosContainer'].firstElementChild;
            oldPhotos.classList.value += ' fade-out';
            this.$refs['photosContainer'].prepend(newPhotos.$el);

            setTimeout(() => {
                oldInfo.remove();
                oldPhotos.remove();
                this.$router.push({
                    path: this.$router.path,
                    params: {id: this.next(id)}
                })
            }, 1000);
        },
        navigatePrev(id) {
            var newInfo = new InfoClass({
                store: this.$store,
                router: this.$router,
                propsData: { item: this.$store.getters.portfolioById(this.prev(id)) }
            });
            newInfo.$mount();
            newInfo.$el.classList.value += ' prev'
            newInfo.$on('right', this.navigateNext)
            newInfo.$on('left', this.navigatePrev)
            var oldInfo = this.$refs['infoContainer'].firstElementChild;
            oldInfo.classList.value += ' fade-out-prev';
            this.$refs['infoContainer'].prepend(newInfo.$el);

            var newPhotos = new PhotosClass({
                store: this.$store,
                router: this.$router,
                propsData: { item: this.$store.getters.portfolioById(this.prev(id)) }
            })
            newPhotos.$mount();
            newPhotos.$el.classList.value += ' fade-in'
            var oldPhotos = this.$refs['photosContainer'].firstElementChild;
            oldPhotos.classList.value += ' fade-out';
            this.$refs['photosContainer'].prepend(newPhotos.$el);

            setTimeout(() => {
                oldInfo.remove();
                oldPhotos.remove();
                this.$router.push({
                    path: this.$router.path,
                    params: {id: this.prev(id)}
                })
            }, 1000);
        }
    }

}
</script>

<style lang="scss" scoped>

.item {
    display: flex;
    flex-direction: row;
    transition: 1s;
    width: 100%;
    min-height: calc(100vh - 80px);

    .photosContainer {
        background: white;
        flex: 2;
        z-index: 10;
        position: relative;
    }

    .infoContainer {
        flex: 1;
        min-width: 375px;
    }
}

@media (max-width: 700px) {
    .item {
        .photosContainer {
            z-index: 0;
        }
        flex-direction: column-reverse;
    }
}
</style>
