<template>
    <div class="main has_top">
        <Oksheader title="Портфолио"/>
        <div class="list">
            <div class="item" v-for="item in this.$store.getters.portfolio" key="i" :style="portfolioItemStyle(item)">
                <div class="overlay">gdssgdfg</div>
                <div class="wrapper">
                    <h2 class="title">
                        {{ item.title }}
                    </h2>
                    <div class="subtitle">
                        {{ item.subtitle }}
                    </div>
                    <div class="link">
                        <NuxtLink :to="'/portfolio/' + item.id">Подробнее</NuxtLink>
                    </div>
                </div>
            </div>
        </div>
        <Oksfooter/>
    </div>
</template>

<script>
import Base from '../../components/basePage';

export default {
    extends: Base,
    fetch() {
        this.$store.commit('setMenuLight', false);
    },
    methods: {
        portfolioItemStyle(item) {
            return {
                backgroundImage: 'url(' + item.image + ')',
                backgroundPosition: 'center center'
            }
        },
        makeBack(item) {
            return {
                backgroundImage: item.image
            }
        }
    }
}
</script>

<style lang="scss" scoped>
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.5;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 0.5;
    }
}

    .list {
        .item {
            background-size: cover;
            margin: 0 0 17px 0;
            height: 535px;
            display: block;

            .overlay {
                position: absolute;
                background: black;
                width: 100%;
                height: 535px;
                display:block;
                opacity: 0;
                animation-name: fade-out;
                animation-duration: 1s;
            }

            &:hover {
                .overlay {
                    animation-name: fade;
                    animation-duration: 1s;

                    opacity: 0.5;
                }
            }

            .wrapper {
                position: absolute;
                display: flex;
                height: 535px;
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .title {
                    font-family: "Vogue Highline Serif Medium" !important;
                    font-weight: normal;
                    font-size: 40px !important;
                    line-height: 46px;
                    text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.8);
                    text-align: center;
                    padding: 10px;
                    text-transform: uppercase;
                    color: #ffffff;
                }
                .subtitle {
                    font-size: 24px;
                    line-height: 28px;
                    padding: 10px 10px !important;
                    text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.8);
                    text-align: center;
                    color: #fff;
                }
                .link:before {
                    content: "";
                    position: relative;
                    margin: 0 auto;
                    display: block;
                    transition: 0.5s;
                    width: 50px;
                    height: 1px;
                    background: #ffffff;
                    top: -27px;
                }
                .link:before:hover {
                    transition: 0.5s;
                    top: -10px;
                }
                .link {
                    font-size: 17px;
                    text-transform: uppercase;
                    text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.8);
                    color: white;
                    font-family: "FS Elliot Pro Bold";
                    font-weight: bold;
                    margin-top: 40px;
                }
            }
        }
    }
</style>
