<template>
    <div class="info" ref="info">
        <div class="bar">
            <div class="left" @click="$emit('left', item.id)"></div>
            <NuxtLink to="/portfolio">
                <div class="list">
                    <span>
                        <i class="b1 c1"/>
                        <i class="b1 c2"/>
                    </span>
                </div>
            </NuxtLink>
            <div class="right" @click="$emit('right', item.id)"></div>
        </div>
        <div class="content">
            <h2>{{ item.subtitle }}</h2>
            <div v-html="item.info">
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue";
import Comp from "../../pages/portfolio/_id";

export default {
    props: ['item']
}
</script>

<style lang="scss" scoped>

.info {
    background: white;
    border-left: 1px solid black;

    .bar {
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid black;

        .left:before, .right:before, .left:after, .right:after {
            content: '';
            width: 10px;
            height: 2px;
            background-color: #171717;
            border-radius: 1px;
            margin-top: 4px;
            display: block;
            transform-origin: 50% 50%;
            transition: margin-left 0.5s ease-out, transform 0.5s ease-out;
        }

        .left {
            &:before {
                transform: rotate(-45deg);
            }

            &:after {
                transform: rotate(45deg);
            }
        }

        .left:hover {
            &:before {
                transform: rotate(135deg);
            }

            &:after {
                transform: rotate(-135deg);
            }
        }

        .right {
            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }

        .right:hover {
            &:before {
                transform: rotate(-135deg);
            }

            &:after {
                transform: rotate(135deg);
            }
        }

        .left, .right {
            display: block;
            width: 15px;
            height: 15px;
        }

        .list {
            display: block;
            width: 20px;
            height: 20px;
            overflow: hidden;
            position: relative;

            i.b1 {
                display: block;
                position: absolute;
                background-color: #000;
                width: 13px;
                height: 7px;
                transition-property: height, transform;
                transition-duration: 0.5s;
                transition-timing-function: cubic-bezier(0.75, 0, 0.3, 1);
            }

            i.c1 {
                left: 0;
            }

            i.c2 {
                left: 0;
                top: 8px;
            }
        }
    }

    .content {
        padding: 20px 40px;
        min-height: calc(100vh - 80px);

        h2 {
            color: black;
            margin: 30px 0px 40px;
        }

        p {
            color: black;
            font-size: 16px;
            line-height: 26px;
            text-align: unset;
        }

        .buttons {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            span.button {
                &.facebook {
                    content: "";
                    width: 160px;
                    background: url('/static/fb-empty.svg') no-repeat left 30px top 10px;
                    filter: grayscale(100%);
                    transition: all 1s;
                }

                &.instagramm {
                    content: "";
                    width: 180px;
                    background: url('/static/inst-empty-s.svg') no-repeat left 30px top 10px;
                    filter: grayscale(100%);
                    transition: all 1s;
                }

                &.facebook:hover, &.instagramm:hover {
                    filter: grayscale(0);
                }

                font-size: 17px;
                border-radius: 100px;
                border: 1px #666666 solid;
                color: #fff;
                margin: 20px 10px;
                display: block;
                height: 46px;
            }
        }
    }
}

@media (width < 700px) {
    .info {
        border-left: 0px;
    }
}
</style>
