<template>
    <div class="photos">
        <div class="slide" v-for="media in getMedia()" :class="getDisplayClass(media)">
            <div class="slide-container">
                <div class="arrow-left" @click="prev()">
                    <img src="/static/portfolio/arrow.png"/>
                </div>
                <div class="media-container">
                    <img v-if="media.type == 'photo'" :src="media.src"/>
                    <video autoplay="autoplay" v-if="media.type == 'video'" :src="media.src"/>
                </div>
                <div class="arrow-right" @click="next()">
                    <img src="/static/portfolio/arrow.png"/>
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default {
    props: ['item', 'itemId'],
    data() {
        return {
            active: 0,
            prev_active: 0
        }
    },
    methods: {
        getMedia() {
            return this.$store.getters.getMedia(this.itemId);
        },
        getDisplayClass(media) {
            let cl = '';
            cl = (media.index == this.active ? 'active': '');
            if (!cl.length) cl = (media.index == this.prev_active ? 'prev-active': '');
            if (!cl.length) cl = 'non-active';
            return cl;
        },
        prev() {
            let cnt = this.getMedia().length;
            this.prev_active = this.active;
            this.active--;
            if (this.active < 0) this.active = cnt - 1;
            setTimeout(() => this.prev_active = this.active, 300);
        },
        next() {
            let cnt = this.getMedia().length;
            this.prev_active = this.active;
            this.active++;
            if (this.active >= cnt) this.active = 0;
            setTimeout(() => this.prev_active = this.active, 300);
        }
    },
}
</script>

<style lang="scss" scoped>

@media (width > 700px) {
    .photos {
        --duration-transition: 1s;
        --arrow-width: 40px;
        --header-height: 80px;
        --viewport-height: calc(100vh - var(--header-height));
        --viewport-width: calc(100% - 2 * var(--arrow-width));
        display: flex;
        flex-direction: column;

        .slide {
            width: 100%;
            position: absolute;

            &.non-active {
                opacity: 0;
                transition-duration: var(--duration-transition);
                transition-property: opacity;
            }
            &.prev-active {
                transition-duration: var(--duration-transition);
                transition-property: opacity;
                opacity: 0;
            }
            &.active {
                transition-duration: var(--duration-transition);
                opacity: 1;
            }

            .slide-container {
                .arrow-left,.arrow-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    width: var(--arrow-width);
                    img {
                        margin: 10px;
                    }
                }
                .arrow-left {
                    img {
                        transform: rotate(180deg);
                    }
                }

                height: var(--viewport-height);
                display: flex;
                justify-content: space-between;
                overflow: hidden;

                .media-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    max-width: var(--viewport-width);
                    height: 100%;

                    img, video {
                        max-height: var(--viewport-height);
                    }
                }
            }
        }
    }
}

@media (width < 700px) {
    .photos {
        .slide {
            width: 100%;

            .slide-container {
                .arrow-left,.arrow-right {
                    display: none;
                }

                .media-container {
                    img, video {
                        width: 100%;
                    }
                }
            }
        }
    }
}
</style>

<style lang="scss">
.photos {
    .ssr-carousel {
        .ssr-carousel-slides {
            margin-top: -27px;
        }

        .ssr-carousel-dots {
            .ssr-carousel-dot-button {
                z-index:1;
            }
        }
    }
}
</style>
