.about_founders {
    
    color: #000;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 30px 0;


  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  column-width: 50%;
  -webkit-column-gap: 45px;
  -moz-column-gap: 45px;
  column-gap: 45px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin: 30px 0 0 0;
  color: #000;

  }
  .responsive div {
    padding: 0 8px;
    box-sizing: border-box;
    height: 180px;
  
    padding: 15px;
    box-sizing: border-box;
    height: 180px;
    float: left;
    width: 23%;
    margin: 0 1%;
    overflow: hidden;
  }


  .founders {
    font-size: 15px;
    line-height: 21px;
    color: #000;
    margin: 25px 0 0 0;
  }






