
.page-enter-active, .page-leave-active {
    transition: opacity 1s;
}

.page-enter, .page-leave-active {
    opacity: 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */
{
    opacity: 5s;
}


h1.title {
    font-family: Vogue Highline Serif Medium;
    font-weight: normal;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    color: #333333;
    text-transform: uppercase;

    position: relative;
}


p {
    font-size: 20px;
    text-align: center;
}

@font-face {
    font-family: FS Elliot Pro Bold;
    src: url('fonts/FSElliotPro-Bold.eot');
    src: url('fonts/FSElliotPro-Bold.ttf') format('truetype'), url('fonts/FSElliotPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Vogue Highline Serif Medium;
    src: url('fonts/vogue-highliner.eot');
    src: url('fonts/vogue-highliner.ttf') format('truetype'), url('fonts/vogue-highliner.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* fallback Menu*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

ul.social {

    display: inline;
    margin: 50px; /* Обнуляем значение отступов */
    margin: 70px 50px 50px 50px;

    padding: 0px; /* Значение полей */


}


ul.social li {

    display: inline; /* Отображать как строчный элемент */
    margin-right: 10px; /* Отступ слева */
    border: 0px solid #000; /* Рамка вокруг текста */
    padding: 10px; /* Поля вокруг текста */

}