/* ------------------Reset---------------- */
* {
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: FS Elliot Pro Light;
  font-weight: lighter;
  background: #ffffff;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
}
::selection {
  background: #231f20;
  color: #fff;
}
::-moz-selection {
  background: #231f20;
  color: #fff;
}
::-webkit-selection {
  background: #231f20;
  color: #fff;
}
/*---------------- Fonts ----------------*/
@font-face {
  font-family: Vogue Highline Serif Medium;
  src: url('../fonts/vogue-highliner.eot');
  src: url('../fonts/vogue-highliner.ttf') format('truetype'), url('../fonts/vogue-highliner.woff') format('woff'), url('../fonts/vogue-highliner.svg#Vogue Highline Serif Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: FS Elliot Pro Light;
  src: url('../fonts/FSElliotPro-Light.eot');
  src: url('../fonts/FSElliotPro-Light.ttf') format('truetype'), url('../fonts/FSElliotPro-Light.woff') format('woff'), url('../fonts/FSElliotPro-Light.svg#FS Elliot Pro Light') format('svg');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: FS Elliot Pro;
  src: url('../fonts/FSElliotPro-Regular.eot');
  src: url('../fonts/FSElliotPro-Regular.ttf') format('truetype'), url('../fonts/FSElliotPro-Regular.woff') format('woff'), url('../fonts/FSElliotPro-Regular.svg#FS Elliot Pro Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: FS Elliot Pro Bold;
  src: url('../fonts/FSElliotPro-Bold.eot');
  src: url('../fonts/FSElliotPro-Bold.ttf') format('truetype'), url('../fonts/FSElliotPro-Bold.woff') format('woff'), url('../fonts/FSElliotPro-Bold.svg#FS Elliot Pro Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
h1 {
  font-size: 80px;
  line-height: 88px;
  font-family: Vogue Highline Serif Medium;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  z-index: 3;
  position: fixed;
  top: 250px;
}
h1.artnuvo-title {
  top: 310px;
}
h2 {
  font-family: Vogue Highline Serif Medium;
  font-weight: normal;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  color: #ffffff;
}
h3 {
  font-family: Vogue Highline Serif Medium;
  font-weight: normal;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  padding: 25px 0;
  position: relative;
}
p {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #ffffff;
}

footer .pro a {
  color: #821d1d;
}

.link-back.phil::before {
  content: "";
  display: inline-block;
  position: relative;
  background: url(../img/arrow-back-grey.svg) no-repeat left top;
  width: 12px;
  height: 22px;
  margin: 0 40px 0 0;
  top: 6px;
}
.link-back.phil {
  color: #000 !important;
  top: 26px;
}
.link-back {
  color: #ffffff;
  position: relative;
  top: 58px;
  margin: 0 0 0 10px;
  font-size: 20px;
  float: left;
  left: 95px;
  z-index: 20;
}
.link-back::before {
  content: "";
  display: inline-block;
  position: relative;
  background: url(../img/arrow-back.svg) no-repeat left top;
  width: 12px;
  height: 22px;
  margin: 0 40px 0 0;
  top: 6px;
}
.container {
  width: 1030px;
  margin: 0 auto;
  display: block;
}
.loaderArea {
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
}
.loader {
  background: url(../img/467.GIF) no-repeat;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 50%;
  margin-top: -36px;
}
.content_load {
  position: absolute;
  width: 100%;
}
a {
  outline: none;
}
.fb:hover {
  background-color: #3b5998;
  color: #ffffff !important;
  border: 1px #3b5998 solid !important;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*   .inst:after {
    .content-before;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .inst:hover:after {
    opacity: 1;
  }
  .inst:hover {
    border: 1px #f09433 solid !important;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    color: #ffffff !important;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.3s ease-in-out;
  } */
.content_fixed {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.portfolio .wow {
  visibility: visible !important;
}
.ico_uscl-fb:before {
  content: "" !important;
}
.mobile-social {
  display: none;
  width: 280px;
  padding: 0 20%;
}
.mobile-social li {
  width: 20%;
  float: left;
}
.mobile-social li a img {
  height: 30px;
  width: auto;
  margin: 0 auto;
}
.mobile-social-p {
  display: none;
  color: #000;
  font-size: 12px;
}
.mobile-offerta {
  display:none;
}

/* Menu */
.nav-links {
  visibility: hidden;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -webkit-transition-property: visibility;
  -moz-transition-property: visibility;
  -o-transition-property: visibility;
  transition-property: visibility;
}
.nav-links > ul {
  width: 200px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 1;
  position: relative;
}
.sub-nav-links {
  display: none;
  background-color: #f3f3f3;
}
li:hover .sub-nav-links,
li.current .sub-nav-links {
  display: block;
}
.sub-nav-links .sub-nav-links-inner {
  padding: 80px 20px 20px 60px;
}
#gnavi {
  float: left;
  position: relative;
  z-index: 1002;
}
.front-menu {
  width: 100%;
}
#gnavi .nav-btn a .bars {
  display: inline-block;
  padding: 0 29px;
  width: 58px;
  height: 78px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
.front-menu .nav-btn a .bars .bar {
  background-color: #fff !important;
  left: 15px;
}
.front-menu .nav-btn a .bars {
  padding: 5px !important;
  width: 58px !important;
  left: -15px;
}
.front-menu .nav-btn {
  display: inline-block;
  padding: 0 29px;
  width: 58px;
  height: 78px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}
#gnavi .nav-btn a .bars .bar {
  display: block;
  position: absolute;
  width: 36px;
  height: 1px;
  background-color: #646470;
  -webkit-transition: all 375ms linear;
  -moz-transition: all 375ms linear;
  -o-transition: all 375ms linear;
  transition: all 375ms linear;
  -webkit-transition-property: top, opacity;
  -moz-transition-property: top, opacity;
  -o-transition-property: top, opacity;
  transition-property: top, opacity;
}
#gnavi .nav-btn a .bars .bar:nth-child(1) {
  top: 29px;
  opacity: 1;
  -webkit-transition-delay: 125ms;
  -moz-transition-delay: 125ms;
  -o-transition-delay: 125ms;
  transition-delay: 125ms;
}
#gnavi .nav-btn a .bars .bar:nth-child(2) {
  top: 42px;
  -webkit-transition-delay: 80ms;
  -moz-transition-delay: 80ms;
  -o-transition-delay: 80ms;
  transition-delay: 80ms;
}
#gnavi .nav-btn a .bars .bar:nth-child(3) {
  top: 55px;
  -webkit-transition-delay: 40ms;
  -moz-transition-delay: 40ms;
  -o-transition-delay: 40ms;
  transition-delay: 40ms;
}
#gnavi .nav-btn a .bars .bar:nth-child(4) {
  top: 68px;
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
#gnavi .nav-btn a:hover .bars .bar:nth-child(1) {
  top: 22px;
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}
#gnavi .nav-btn a:hover .bars .bar:nth-child(2) {
  top: 32px;
  -webkit-transition-delay: 40ms;
  -moz-transition-delay: 40ms;
  -o-transition-delay: 40ms;
  transition-delay: 40ms;
}
#gnavi .nav-btn a:hover .bars .bar:nth-child(3) {
  top: 42px;
  -webkit-transition-delay: 80ms;
  -moz-transition-delay: 80ms;
  -o-transition-delay: 80ms;
  transition-delay: 80ms;
}
#gnavi .nav-btn a:hover .bars .bar:nth-child(4) {
  top: 52px;
  opacity: 1;
  -webkit-transition-delay: 125ms;
  -moz-transition-delay: 125ms;
  -o-transition-delay: 125ms;
  transition-delay: 125ms;
}
#gnavi.nav-open .nav-btn a .bars .bar:nth-child(1) {
  top: 42px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg) scaleX(1.442);
  -moz-transform: rotate(45deg) scaleX(1.442);
  -o-transform: rotate(45deg) scaleX(1.442);
  transform: rotate(45deg) scaleX(1.442);
  opacity: 1;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  -webkit-transition-property: top, -webkit-transform;
  -moz-transition-property: top, -moz-transform;
  -o-transition-property: top, -o-transform;
  transition-property: top, transform;
  z-index: 999;
}
#gnavi.nav-open .nav-btn a .bars .bar:nth-child(2) {
  top: 46px;
  opacity: 0;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  z-index: 999;
}
#gnavi.nav-open .nav-btn a .bars .bar:nth-child(3) {
  top: 42px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(-45deg) scaleX(1.442);
  -moz-transform: rotate(-45deg) scaleX(1.442);
  -o-transform: rotate(-45deg) scaleX(1.442);
  transform: rotate(-45deg) scaleX(1.442);
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  -webkit-transition-property: top, -webkit-transform;
  -moz-transition-property: top, -moz-transform;
  -o-transition-property: top, -o-transform;
  transition-property: top, transform;
  z-index: 999;
}
#gnavi.nav-open .nav-btn a .bars .bar:nth-child(4) {
  top: 50px;
  opacity: 0;
  -webkit-transition: 0ms;
  -moz-transition: 0ms;
  -o-transition: 0ms;
  transition: 0ms;
  -webkit-transition-delay: 0ms;
  -moz-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
  z-index: 999;
}
.gnavi-nav-open #gnavi-links {
  visibility: visible;
}
#gnavi-links ul.hover-line-links {
  padding: 170px 0 0 69px;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  z-index: 2;
}
.gnavi-nav-open #gnavi-links ul {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
#gnavi-links li {
  margin-bottom: 45px;
}
#gnavi-links li a {
  display: block;
  font-size: 19px;
  text-transform: uppercase;
  color: #222222;
}
#gnavi-links li a:hover {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #000;
}
#gnavi-links li.current_page_item {
  font-family: FS Elliot Pro Bold;
  font-weight: bold;
}
#overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 40;
}
#gnavi .nav-btn a .bars-black .bar {
  background-color: #000 !important;
}
.align-center {
  margin: 0 auto;
  display: block;
}
.content-before {
  content: "";
  display: inline-block;
  position: relative;
}
.font-size-15 {
  font-size: 15px;
  line-height: 21px;
}
.font-size-16 {
  font-size: 16px;
  line-height: 20px;
}
.font-size-21 {
  font-size: 21px;
  line-height: 26px;
}
.font-vogue {
  font-family: Vogue Highline Serif Medium;
  font-weight: normal;
}
.font-elliot-light {
  font-family: FS Elliot Pro Light;
  font-weight: lighter;
}
.font-elliot {
  font-family: FS Elliot Pro;
  font-weight: normal;
}
.font-elliot-bold {
  font-family: FS Elliot Pro Bold;
  font-weight: bold;
}
.header-font-upper {
  font-family: Vogue Highline Serif Medium;
  font-weight: normal;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
}
.main-p {
  color: #fff;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
}
.table-cell-middle {
  display: table-cell;
  vertical-align: middle;
}
.transition05 {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
/* Header */
header {
  height: 85px;
}
.fixed_header {
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 999;
}
.article-mobile {
  display: none;
}
#portfolio-detail #info .article-desktop a {
  color: #744d38;
  text-transform: none !important;
  font-weight: normal !important;
}
.fixed_nav {
  position: fixed !important;
  z-index: 1001 !important;
}
.photo-height {
  position: relative;
}
.title-philosophy {
  left: -8px;
}
/* Home page */
#video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}
#mute-video {
  position: absolute;
  top: 130px;
  right: 30px;
  cursor: pointer;
  z-index: 1003;
  outline: none;
  background: none;
  border: none;
}
.volume-off img {
  outline: none;
  background: none;
  border: none;
}
.home-page {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.home-page .container {
  width: 800px;
}
.home-page #gnavi .nav-btn a .bars .bar {
  background-color: #fff;
}
.home-page .wrap-content {
  width: 650px;
  margin: 0 auto;
  display: block;
}
.home-page .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.home-page .prosperity {
  width: 650px;
  margin: 0 auto;
  display: block;
}
.home-page p {
  font-size: 20px;
  font-family: FS Elliot Pro Bold;
  font-weight: bold;
  margin: 90px 0 0 0;
}
.home-page .down {
  width: 53px;
  height: 27px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 90px;
}
.home-page .bounce-front {
  animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes floating {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(15%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}
/* Textile page */
.textile-1 {
  background: url('../img/textile-1.jpg') no-repeat center top;
}
.textile-2 {
  background: url('../img/textile-2.jpg') no-repeat center top;
}
.textile-3 {
  background: url('../img/textile-3.jpg') no-repeat center top;
  margin: 0 !important;
}
.textile {
  margin: 0 0 17px 0;
}
.textile .wrap-content {
  width: 600px;
  margin: 0 auto;
}
.textile .content {
  display: table-cell;
  vertical-align: middle;
  height: 735px;
}
.textile p {
  padding: 58px 0;
}
.more {
  font-family: FS Elliot Pro Light;
  font-weight: lighter;
  margin: 0 auto;
  display: block;
  font-size: 17px;
  text-transform: uppercase;
  width: 140px;
  text-align: center;
  position: relative;
  top: 50px;
}
.more:hover:before {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  top: -7px;
}
.more:before {
  content: "";
  display: inline-block;
  position: relative;
  margin: 0 auto;
  display: block;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  width: 50px;
  height: 1px;
  background: #ffffff;
  top: -27px;
}
/* Artnuvo page */
.artnuvo .col-2 img.last {
  margin: 0 !important;
}
.artnuvo-bg {
  background: url('../img/artnuvo-bg.jpg') no-repeat center top;
  height: 544px;
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
}
.artnuvo-bg .link-back {
  top: 28px;
}
.artnuvo {
  background: #e3d9d4;
}
.artnuvo .wrap-parallax {
  z-index: 5;
  position: relative;
  background: #e3d9d4;
  top: 550px;
  padding: 30px 0 0 0;
}
.artnuvo .wrap-parallax .responsive {
  margin: 40px 0 0 0;
  overflow: hidden;
  height: 160px;
}
.artnuvo .wrap-parallax .responsive div {
  padding: 0 8px;
  box-sizing: border-box;
  height: 180px;
  float: left;
  width: 23%;
  margin: 0 1%;
  overflow: hidden;
}
.artnuvo .wrap-content {
  width: 100%;
}
.artnuvo .wrap-content h1 {
  width: 900px;
  left: 50%;
  margin-left: -450px;
  font-size: 40px;
  line-height: 46px;
}
.artnuvo p {
  color: #1a1a1a;
  padding: 10px;
}
.artnuvo .article-more {
  margin: 0;
}
.artnuvo .article-more p {
  padding: 0;
  color: #754c24;
}
.artnuvo .article-more .article-more-link {
  color: #000;
}
.artnuvo .article-more a {
  text-transform: uppercase;
  color: #744e2b;
}
.artnuvo footer p {
  padding: 0;
}
.artnuvo .col-1 {
  display: inline-block;
  width: 600px;
  vertical-align: top;
  margin: 10px 65px 0 0;
}
.artnuvo .col-1 img {
  width: 100%;
  height: auto;
  margin: 0 0 90px 0;
}
.artnuvo .col-1 p {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
}
.artnuvo .col-2 {
  display: inline-block;
  width: 360px;
  vertical-align: top;
}
.artnuvo .col-2 img {
  width: 100%;
  height: auto;
  margin: 0 0 90px 0;
}
.info {
  width: 600px;
  margin: -200px 0 120px 0;
}
.info p {
  padding: 0;
  font-size: 15px;
  line-height: 21px;
}
.info .share {
  margin: 30px 0 0 0;
}
#gnavi .nav-btn a .bars .bar {
  background-color: #ffffff;
}
.prev-art {
  background: url('../img/slider-prev.svg') no-repeat;
  height: 18px;
  display: block;
  text-indent: -9999px;
  float: left;
  width: 30px;
  position: relative;
  z-index: 100;
}
.next-art {
  background: url('../img/slider-next.svg') no-repeat;
  height: 18px;
  display: block;
  text-indent: -9999px;
  float: right;
  width: 30px;
  position: relative;
  z-index: 100;
}
.buttons {
  float: left;
}
.buttons a {
  width: 13px;
  margin: 0 auto;
  display: block;
}
.responsive img {
  height: 180px;
}
.responsive div {
  padding: 0 8px;
  box-sizing: border-box;
  height: 180px;
}
.article-more .article-more-link {
  width: 300px;
  text-transform: none;
}
.share {
  text-align: center;
  margin: 30px 0 0 0;
}
.share .fb,
.share .inst {
  font-size: 21px !important;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
  padding: 1px 30px 19px 30px !important;
  border: 1px #666666 solid !important;
  color: #000000 !important;
  margin: 0 16px !important;
  display: inline-block !important;
}
.share .inst {
  position: relative;
  top: 19px;
  left: 5px;
}

@media (min-width: 1270px) {
  .share .inst {
    position: relative;
    top: 19px;
    left: 5px;
  }
}

@media (min-width: 1345px) {
  .share .inst {
    position: relative;
    top: -2px;
    left: 5px;
  }
}

.share .fb:before {
  content: "";
  display: inline-block;
  position: relative;
  background-image: url('../img/fb-empty.svg');
  background-repeat: no-repeat;
  background-position: left top;
  width: 17px;
  height: 34px;
  margin: 0 20px 0 0;
  top: 10px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.share .inst:before {
  background: url('../img/inst-empty.svg') no-repeat left top;
  content: "";
  display: inline-block;
  position: relative;
  width: 149px;
  height: 31px;
  margin: 0;
  top: 11px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.share .inst:hover:before,
.share .fb:hover:before {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: gray;
  /* IE 6-9 */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.share .left {
  display: inline-block;
  top: 20px;
  position: relative;
}
/* Portfolio-slider page */
header.portf-slider {
  border-bottom: 1px #646470 solid;
}
header.portf-slider .link-back {
  color: #333333;
}
header.portf-slider .link-back::before {
  background: url('../img/arrow-back-grey.svg') no-repeat left top;
}
header.portf-slider .link-back {
  top: 26px;
}
.photo-mobile {
  display: none;
}
/*
.slide-container
---------------------------------------*/
.slide-container {
  position: relative;
  height: 100%;
  width: 200%;
  overflow: hidden;
}
.slide-content {
  width: 50%;
  float: left;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  -moz-transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
}
.slide-content.slide-left-in {
  -webkit-transform: translate(-200%, 0);
  -moz-transform: translate(-200%, 0);
  -ms-transform: translate(-200%, 0);
  -o-transform: translate(-200%, 0);
  transform: translate(-200%, 0);
}
.slide-content.slide-right-out.play {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.slide-content.slide-right-in.play {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.slide-content.slide-left-out.play {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}
.slide-content.slide-left-in.play {
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.slide-content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
  -moz-transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
  -o-transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
  transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
}
.slide-content.cover:after {
  opacity: 1;
  width: 100%;
  height: 1000%;
  -webkit-transition: opacity 300ms cubic-bezier(0.68, 0, 0.42, 1);
  -moz-transition: opacity 300ms cubic-bezier(0.68, 0, 0.42, 1);
  -o-transition: opacity 300ms cubic-bezier(0.68, 0, 0.42, 1);
  transition: opacity 300ms cubic-bezier(0.68, 0, 0.42, 1);
}
/*
 #wrap
---------------------------------------------------*/
#wrap {
  min-height: 100%;
  width: 100%;
  position: relative;
  -webkit-transition: padding-top 300ms ease-out;
  -moz-transition: padding-top 300ms ease-out;
  -o-transition: padding-top 300ms ease-out;
  transition: padding-top 300ms ease-out;
}
.no-footer #wrap {
  height: 100%;
}
#wrap:after {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
  -webkit-transition: opacity 500ms ease-out, width 200ms 500ms, height 200ms 500ms;
  -moz-transition: opacity 500ms ease-out, width 200ms 500ms, height 200ms 500ms;
  -o-transition: opacity 500ms ease-out, width 200ms 500ms, height 200ms 500ms;
  transition: opacity 500ms ease-out, width 200ms 500ms, height 200ms 500ms;
}
.nav-open #wrap:after {
  opacity: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 500ms ease-out;
  -moz-transition: opacity 500ms ease-out;
  -o-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}
#contents-wrap {
  min-height: 100%;
  position: relative;
}
#contents {
  width: 100%;
  position: relative;
  padding-bottom: 100px;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.no-footer #contents {
  padding-bottom: 20px;
}
#contents:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
  -moz-transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
  -o-transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
  transition: opacity 0ms, width 10ms 500ms, height 10ms 500ms;
}
#contents.trans:after {
  opacity: 1;
  width: 100%;
  height: 1000%;
  -webkit-transition: opacity 300ms cubic-bezier(0.68, 0, 0.42, 1);
  -moz-transition: opacity 300ms cubic-bezier(0.68, 0, 0.42, 1);
  -o-transition: opacity 300ms cubic-bezier(0.68, 0, 0.42, 1);
  transition: opacity 300ms cubic-bezier(0.68, 0, 0.42, 1);
}
.content {
  position: relative;
  z-index: 5;
  -webkit-transition: -webkit-transform 1.1s cubic-bezier(0.68, 0, 0.42, 1);
  -moz-transition: -moz-transform 1.1s cubic-bezier(0.68, 0, 0.42, 1);
  -o-transition: -o-transform 1.1s cubic-bezier(0.68, 0, 0.42, 1);
  transition: transform 1.1s cubic-bezier(0.68, 0, 0.42, 1);
  *zoom: 1;
}
.content:before,
.content:after {
  display: table;
  content: "";
  line-height: 0;
}
.content:after {
  clear: both;
}
.content.moveUp {
  -webkit-transform: translate(0, -160px);
  -moz-transform: translate(0, -160px);
  -o-transform: translate(0, -160px);
  transform: translate(0, -160px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
#top.moveUp {
  -webkit-transform: translate(0, -1px);
  -moz-transform: translate(0, -1px);
  -o-transform: translate(0, -1px);
  transform: translate(0, -1px);
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
.content.show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  -webkit-transition-duration: 900ms;
  -moz-transition-duration: 900ms;
  -o-transition-duration: 900ms;
  transition-duration: 900ms;
}
.content .container {
  width: 1000px;
  margin: 0 auto;
}
#page-title {
  font-size: 2em;
}
#portfolio-detail #photo {
  float: left;
  overflow-x: hidden;
  width: 70%;
  margin: 86px 0 0 0;
}
#portfolio-detail #photo .entry-photo .photo img {
  width: 100%;
  margin: 0 0 20px 0;
}
#portfolio-detail #photo .entry-photo.movie .photo {
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#portfolio-detail #photo .entry-photo.movie .photo:before {
  content: '';
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
#portfolio-detail #photo .entry-photo.movie .photo:after {
  content: '';
  display: block;
  position: absolute;
  width: 10%;
  height: 17.777777778%;
  top: 50%;
  left: 50%;
  margin-left: -5%;
  margin-top: -5%;
  background: url(../img/icons/icon_play.svg) no-repeat 50% 50%;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.5s ease-out, opacity 0.5s ease-out;
  -moz-transition: -moz-transform 0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out, opacity 0.5s ease-out;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
#portfolio-detail #photo .entry-photo.movie .photo:hover:before {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#portfolio-detail #photo .entry-photo.movie .photo:hover:after {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#portfolio-detail #photo .entry-photo.movie .photo.hide:after {
  opacity: 0;
  -webkit-transform: scale(2, 2);
  -moz-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  -o-transform: scale(2, 2);
  transform: scale(2, 2);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.68, 0, 0.42, 1), opacity 0.5s cubic-bezier(0.68, 0, 0.42, 1);
  -moz-transition: -moz-transform 0.5s cubic-bezier(0.68, 0, 0.42, 1), opacity 0.5s cubic-bezier(0.68, 0, 0.42, 1);
  -o-transition: -o-transform 0.5s cubic-bezier(0.68, 0, 0.42, 1), opacity 0.5s cubic-bezier(0.68, 0, 0.42, 1);
  transition: transform 0.5s cubic-bezier(0.68, 0, 0.42, 1), opacity 0.5s cubic-bezier(0.68, 0, 0.42, 1);
}
#portfolio-detail #photo .entry-photo.movie .embed-container {
  margin-top: -56.25%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#portfolio-detail #photo .entry-photo.movie .embed-container .embed-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#portfolio-detail #info {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  padding-top: 0;
  background-color: #fff;
  z-index: 10;
  overflow: auto;
}
#portfolio-detail #info .share {
  margin: 70px 0 70px 0;
}
#portfolio-detail #info .share .left-slider {
  display: inline-block;
  position: relative;
  top: 16px;
}
#portfolio-detail #info .share .fb,
#portfolio-detail #info .share .inst {
  font-size: 17px !important;
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
  padding: 0 20px 12px 20px !important;
  border: 1px #666666 solid !important;
  color: #000000 !important;
  margin: 0px 10px !important;
  display: inline-block !important;
}
#portfolio-detail #info .share .fb:before {
  content: "";
  display: inline-block;
  position: relative;
  background: url('../img/fb-empty.svg') no-repeat left top;
  width: 11px;
  height: 25px;
  margin: 0 12px 0 0;
  top: 8px;
}
#portfolio-detail #info .share .inst:before {
  background: url('../img/inst-empty-s.svg') no-repeat left top;
  content: "";
  display: inline-block;
  position: relative;
  width: 127px;
  height: 26px;
  margin: 0;
  top: 8px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /* IE 6-9 */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#portfolio-detail #info .share .inst:hover:before {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: gray;
  /* IE 6-9 */
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
#portfolio-detail #info .article-more a {
  color: #744d38;
  text-transform: uppercase;
  font-weight: bold;
}
#portfolio-detail #info .article-more .article-more-link {
  text-transform: none;
  font-weight: lighter;
}
#portfolio-detail #info h2 {
  margin: 200px 0 50px 0;
}
#portfolio-detail #info h2,
#portfolio-detail #info p {
  color: #000;
}
#portfolio-detail #info p {
  text-align: left;
  font-size: 15px;
  line-height: 21px;
  margin: 0 40px;
}
#portfolio-detail #info.fixed {
  position: fixed;
  top: 60px !important;
}
.nav-open #portfolio-detail #info.fixed,
.page-loading #portfolio-detail #info.fixed {
  position: absolute;
  top: inherit !important;
}
#portfolio-detail #info .entry-detail {
  padding-top: 20px;
  padding-left: 50px;
  height: 100%;
  padding-bottom: 150px;
  position: relative;
}
#portfolio-detail #info .entry-detail p {
  font-size: 1.3em;
  line-height: 2;
}
#portfolio-detail #info .entry-detail.mCS_no_scrollbar {
  padding-right: 50px;
}
#portfolio-detail #info .entry-detail .more:before {
  content: "";
  display: block;
  position: relative;
  padding-top: 2em;
  margin-bottom: 2em;
  width: 20px;
  border-bottom: 1px solid #1a1a1a;
}
#portfolio-detail #info .slide-content {
  background-color: #fff;
  height: 100%;
}
#portfolio-detail #info .slide-content.slide-right-out.play {
  -webkit-transform: translate(-70%, 0);
  -moz-transform: translate(-70%, 0);
  -ms-transform: translate(-70%, 0);
  -o-transform: translate(-70%, 0);
  transform: translate(-70%, 0);
}
#portfolio-detail #info .slide-content.slide-left-out.play {
  -webkit-transform: translate(70%, 0);
  -moz-transform: translate(70%, 0);
  -ms-transform: translate(70%, 0);
  -o-transform: translate(70%, 0);
  transform: translate(70%, 0);
}
.mobile .page-loading #portfolio-detail #photo {
  min-height: 100vh;
}
/*
 .paginate
-------------------------------------------------*/
.paginate {
  position: absolute;
  width: 100%;
  height: 56px;
  margin: 85px 0 0 0;
  z-index: 200;
  background: #fff;
  border-top: 1px #000000 solid;
  border-bottom: 1px #000000 solid;
  max-width: 553.89px;
}
.paginate .prev,
.paginate .next,
.paginate .list {
  position: absolute;
  top: 7px;
}
.paginate .prev {
  left: 30px;
}
.paginate .list {
  left: 50%;
  margin-left: -20px;
  margin-top: 3px;
}
.paginate .next {
  right: 30px;
}
.paginate a,
.paginate span {
  display: block;
  width: 40px;
  height: 40px;
}
.paginate .list a {
  position: relative;
  padding: 10px;
}
.paginate .list a span {
  width: 20px;
  height: 20px;
  overflow: hidden;
  position: relative;
}
.paginate .list a i {
  display: block;
  position: absolute;
  background-color: #000;
  width: 13px;
  height: 7px;
  -webkit-transition-property: height, -webkit-transform;
  -moz-transition-property: height, -moz-transform;
  -o-transition-property: height, -o-transform;
  transition-property: height, transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.3, 1);
  -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.3, 1);
  -o-transition-timing-function: cubic-bezier(0.75, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.3, 1);
}
.paginate .list a i.c1 {
  left: 0;
}
.paginate .list a i.c2 {
  left: 0;
  top: 8px;
}
.paginate .prev a:before,
.paginate .prev a:after,
.paginate .next a:before,
.paginate .next a:after,
.paginate .prev span:before,
.paginate .prev span:after,
.paginate .next span:before,
.paginate .next span:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 2px;
  background-color: #171717;
  border-radius: 1px;
  margin-left: -4px;
  display: block;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: margin-left 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -moz-transition: margin-left 0.5s ease-out, -moz-transform 0.5s ease-out;
  -o-transition: margin-left 0.5s ease-out, -o-transform 0.5s ease-out;
  transition: margin-left 0.5s ease-out, transform 0.5s ease-out;
}
.paginate .prev span:before,
.paginate .prev span:after,
.paginate .next span:before,
.paginate .next span:after {
  background-color: #d1d1d1;
  display: block;
}
.paginate .prev a:before,
.paginate .prev span:before {
  display: block;
  margin-top: -4px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.paginate .prev a:after,
.paginate .prev span:after {
  display: block;
  margin-top: 2px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.paginate .prev a:hover:before {
  display: block;
  margin-left: -8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.paginate .prev a:hover:after {
  display: block;
  margin-left: -8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.paginate .next a:before,
.paginate .next span:before {
  display: block;
  margin-top: -4px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.paginate .next a:after,
.paginate .next span:after {
  display: block;
  margin-top: 2px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.paginate .next a:hover:before {
  display: block;
  margin-left: 0px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.paginate .next a:hover:after {
  display: block;
  margin-left: 0px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#portfolio-detail #info .slide-content.slide-right-out.play {
  -webkit-transform: translate(-70%, 0);
  -moz-transform: translate(-70%, 0);
  -ms-transform: translate(-70%, 0);
  -o-transform: translate(-70%, 0);
  transform: translate(-70%, 0);
}
#portfolio-detail #info .slide-content.slide-left-out.play {
  -webkit-transform: translate(70%, 0);
  -moz-transform: translate(70%, 0);
  -ms-transform: translate(70%, 0);
  -o-transform: translate(70%, 0);
  transform: translate(70%, 0);
}
.mobile .page-loading #portfolio-detail #photo {
  min-height: 100vh;
}
/* Philosophy page */
.philosophy {
  min-height: 10px;
  margin: 80px 0 0 0;
  height: 0;
}
.philosophy .open_blog_menu {
  display: none;
  width: 47px !important;
  cursor: pointer;
  position: absolute;
  z-index: 500;
  left: 50%;
  margin-left: -23px;
  top: 84px !important;
}
.philosophy .aside-social {
  display: none;
  width: 100%;
  /*padding: 0 20%;*/
}
.philosophy .aside-social li {
  width: 20%;
  float: left;
}
.philosophy .aside-social li a img {
  margin: 0 auto;
  display: block;
  width: auto !important;
  height: 30px;
}
header.phil {
  border-bottom: 1px #e6e6e6 solid;
}
aside {
  width: 305px;
  float: left;
  position: fixed;
  border-right: 1px #e6e6e6 solid;
  text-align: center;
  min-height: 10px;
  font-family: FS Elliot Pro;
  font-weight: normal;
  z-index:-1;
}
aside ul {
  padding: 40px 0;
  border-bottom: 1px #e6e6e6 solid;
}
aside ul li {
  padding: 22px 0;
}
aside ul li a {
  color: #808080;
}
aside ul li a:hover {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  transition: 0.5s;
}
aside .subscribe {
  font-size: 21px;
  line-height: 26px;
  border-top: 1px #e6e6e6 solid;
  border-bottom: 1px #e6e6e6 solid;
  padding: 50px 0;
  text-align: center;
}
aside .subscribe img {
  margin: 0 auto;
  display: block;
  width: 49px;
  height: 42px;
}
aside .subscribe p {
  margin: 20px 0 0 0;
}
aside .subscribe a {
  color: #754c24;
}
.blog {
  margin: 0 0 0 305px;
  padding: 50px 0 45px 60px;
  width: 900px;
  min-height: 552px;
  box-sizing: border-box;
}
.blog a.more {
  float: right;
  color: #000;
  border: 1px #666666 solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-transform: none;
  padding: 9px 14px 9px 0px;
  font-size: 13px;
  top: -8px;
  position: relative;
}
.blog a.more:hover .wrap-next-arr:before {
  width: 11px;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
}
.blog .wrap-next-arr {
  float: right !important;
  margin: 0 !important;
  position: relative;
  top: 7px;
}
.blog .wrap-next-arr img {
  float: right;
  margin: 0 !important;
  width: 4px !important;
  height: 7px !important;
  display: block !important;
}
.blog .wrap-next-arr:before {
  content: "";
  display: inline-block;
  background: #000;
  width: 21px;
  height: 1px;
  top: -10px;
  left: 2px;
  position: relative;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
}
.blog li {
  float: left;
  width: 100%;
  margin: 0 0 40px 0;
}
.blog .blog-img {
  width: 322px;
  height: 322px;
  float: left;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
  position: relative;
}
.blog .blog-img img {
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
}
.blog .blog-prev {
  width: -webkit-calc(100% - 380px);
  width: -o-calc(100% - 380px);
  width: calc(100% - 380px);
  float: right;
  color: #000;
}
.blog .blog-prev .link-more {
  display: none;
}
.blog .blog-prev h2 {
  font-size: 26px;
  line-height: 30px;
  color: #000000;
  text-transform: none;
  text-align: left;
  padding: 0 0 50px 0;
}
.blog .blog-prev h2 a {
  color: #000000;
}
.blog .blog-prev p {
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 30px 0;
  color: #000;
}
.blog .blog-prev .data {
  font-size: 15px;
  display: inline-block;
  padding: 3px 12px 3px 0;
  margin: 0 12px 0 0;
  text-transform: uppercase;
}
.blog .blog-prev .facebook {
  display: inline-block;
}
.blog .blog-prev .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
  content: "";
  display: inline-block;
  position: relative;
  background: url('../img/fb-empty-3.svg') no-repeat left top 5px !important;
  width: 30px !important;
  height: 30px !important;
  margin: 0 12px 0 0 !important;
  top: 8px !important;
}
.blog .blog-prev .facebook #uSocial .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl,
.blog .blog-prev .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
  padding: 0 !important;
  border: none !important;
  color: #000000 !important;
  margin: 0 !important;
  display: inline-block !important;
  border-radius: 0 !important;
}
.blog .blog-prev .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-bottom .uscl-item .ico_uscl .uscl-each-counter,
.blog .blog-prev .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-horizontal .uscl-item .ico_uscl .uscl-each-counter,
.blog .blog-prev .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-top .uscl-item .ico_uscl .uscl-each-counter,
.blog .blog-prev .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-bottom .uscl-item .ico_uscl .uscl-each-counter,
.blog .blog-prev .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-horizontal .uscl-item .ico_uscl .uscl-each-counter,
.blog .blog-prev .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-top .uscl-item .ico_uscl .uscl-each-counter {
  margin: -8px 0 0 18px;
  font-family: FS Elliot Pro Light;
  font-size: 16px;
}
.blog .blog-prev .facebook #uSocial .uscl-bar.uscl-size48 .uscl-item,
.blog .blog-prev .facebook .uSocial-Share .uscl-bar.uscl-size48 .uscl-item {
  padding: 0 !important;
}
.blog .blog-prev .like {
  display: inline-block;
  padding: 0 0 0 12px;
  margin: 0 0 0 12px;
  position: relative;
  top: 3px;
  border-left: 1px #999999 solid;
}
.blog .blog-prev .like img {
  display: inline-block;
  width: 13px !important;
  height: 12px !important;
  margin: 0 12px 0 0 !important;
  -webkit-animation-name: zoomInLike;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: zoomInLike;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes zoomInLike {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes zoomInLike {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.blog .blog-prev .meta {
  float: left;
}
.loadmore {
  float: left;
  width: 100%;
  text-align: center;
}
.loadmore #true_loadmore {
  color: #808080;
  cursor: pointer;
  text-transform: uppercase;
}
#true_loadmore::before {
  content: "";
  position: relative;
  background: url('../img/loadmore.svg') no-repeat left top;
  width: 22px;
  height: 24px;
  display: inline-block;
}
/* Article page */
.article-bg {
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  height: 544px;
  z-index: 1;
  position: fixed;
  top: 0px;
  width: 100%;
  background-position: center !important;
}
.article-bg .link-back {
  color: #ffffff;
  position: relative;
  top: 28px;
  margin: 0 0 0 10px;
  font-size: 20px;
  float: left;
  left: 95px;
}
.article {
  text-align: center;
}
.article .wrap-parallax {
  z-index: 5;
  position: relative;
  background: #fff;
  top: 544px;
}
.article .open_blog_menu {
  display: none;
  cursor: pointer;
  position: absolute;
  z-index: 400;
  width: 47px !important;
  top: 87px;
  left: 50%;
  margin-left: -23px;
}
.article h1 {
  font-size: 40px;
  line-height: 46px;
  top: 300px;
  z-index: 4;
  opacity: 1;
  margin: 0 auto;
  display: block;
  width: 900px;
  left: 50%;
  margin-left: -450px;
}
.article h3 {
  display: none;
}
.article aside {
  display: none;
}
.article .article-body {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 20px 0 55px 0;
  min-height: 10px;
  overflow: auto;
}
.article .article-body .in-article-body {
  width: 825px;
  margin: 0 auto;
  display: block;
}
.article .article-body p {
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  color: #000000;
  padding: 13px 0;
}
.article .article-body img {
  float: left;
  margin: 20px 50px 33px 0;
}
.article .data {
  font-size: 15px;
  display: inline-block;
  padding: 3px 12px 3px 0;
  border-right: 1px #999999 solid;
  text-transform: uppercase;
}
.article .facebook {
  display: inline-block;
}
.article .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
  content: "";
  display: inline-block;
  position: relative;
  background: url('../img/fb-empty-3.svg') no-repeat left top 5px !important;
  width: 30px !important;
  height: 30px !important;
  margin: 0 12px 0 0 !important;
  top: 8px !important;
}
.article .facebook #uSocial .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl,
.article .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
  padding: 0 !important;
  border: none !important;
  color: #000000 !important;
  margin: 0 !important;
  display: inline-block !important;
  border-radius: 0 !important;
}
.article .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-bottom .uscl-item .ico_uscl .uscl-each-counter,
.article .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-horizontal .uscl-item .ico_uscl .uscl-each-counter,
.article .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-top .uscl-item .ico_uscl .uscl-each-counter,
.article .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-bottom .uscl-item .ico_uscl .uscl-each-counter,
.article .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-horizontal .uscl-item .ico_uscl .uscl-each-counter,
.article .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-top .uscl-item .ico_uscl .uscl-each-counter {
  margin: -8px 0 0 18px;
  font-family: FS Elliot Pro Light;
  font-size: 16px;
}
.article .facebook #uSocial .uscl-bar.uscl-size48 .uscl-item,
.article .facebook .uSocial-Share .uscl-bar.uscl-size48 .uscl-item {
  padding: 0 !important;
}
.article .like {
  display: inline-block;
  position: relative;
  top: 3px;
}
.article .like img {
  display: inline-block;
  width: 13px !important;
  height: 12px !important;
  margin: 3px 12px 0 0 !important;
}
.article .wrap-meta {
  border-top: 1px #666666 solid;
  margin: 45px 0 0 0;
  padding: 12px 0 25px 0;
  width: 100%;
  float: left;
}
.article .wrap-meta .share {
  text-align: center;
  margin: 60px 0 0 0;
}
.article .wrap-meta .meta {
  float: left;
  color: #000;
}
.article .wrap-meta .next-article {
  float: right;
  color: #000;
  text-transform: uppercase !important;
  padding: 12px 0 !important;
  font-size: 13px;
  top: -5px;
  text-align: right;
}
.article .wrap-meta a.link-next-art {
  color: #000;
  float: right !important;
}
.article .wrap-meta a.link-next-art:hover .wrap-next-arr:before {
  width: 11px;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
}
.article .wrap-meta .wrap-next-arr {
  float: right !important;
  margin: 0 !important;
  position: relative;
  top: 17px;
}
.article .wrap-meta .wrap-next-arr img {
  float: right;
  margin: 0 !important;
  width: 4px !important;
  height: 7px !important;
  display: block !important;
}
.article .wrap-meta .wrap-next-arr:before {
  content: "";
  display: inline-block;
  background: #000;
  width: 21px;
  height: 1px;
  top: -11px;
  left: 2px;
  margin: 0 0 0 15px;
  position: relative;
  transition: 0.3s;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
}
/* Article more */
.article-more {
  padding: 40px 0 80px 0;
  text-align: center;
  font-size: 20px;
}
.article-more .glass {
  margin: 0 auto;
  display: block;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -o-transition: all 400ms linear;
  transition: all 400ms linear;
  padding: 0 0 30px 0;
  width: 70px;
  height: 34px;
}
.article-more .glass:hover {
  -webkit-animation: swinging 15s ease-in-out 0s infinite;
  -moz-animation: swinging 15s ease-in-out 0s infinite;
  animation: swinging 15s ease-in-out 0s infinite;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
}
@keyframes swinging {
  0% {
    transform: rotate(0);
  }
  5% {
    transform: rotate(12deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(9deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  25% {
    transform: rotate(7deg);
  }
  30% {
    transform: rotate(-6deg);
  }
  35% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  45% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(0);
  }
  5% {
    -webkit-transform: rotate(12deg);
  }
  10% {
    -webkit-transform: rotate(-10deg);
  }
  15% {
    -webkit-transform: rotate(9deg);
  }
  20% {
    -webkit-transform: rotate(-8deg);
  }
  25% {
    -webkit-transform: rotate(7deg);
  }
  30% {
    -webkit-transform: rotate(-6deg);
  }
  35% {
    -webkit-transform: rotate(5deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
  }
  45% {
    -webkit-transform: rotate(3deg);
  }
  50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(0);
  }
}
@-moz-keyframes swinging {
  0% {
    -moz-transform: rotate(0);
  }
  5% {
    -moz-transform: rotate(12deg);
  }
  10% {
    -moz-transform: rotate(-10deg);
  }
  15% {
    -moz-transform: rotate(9deg);
  }
  20% {
    -moz-transform: rotate(-8deg);
  }
  25% {
    -moz-transform: rotate(7deg);
  }
  30% {
    -moz-transform: rotate(-6deg);
  }
  35% {
    -moz-transform: rotate(5deg);
  }
  40% {
    -moz-transform: rotate(-4deg);
  }
  45% {
    -moz-transform: rotate(3deg);
  }
  50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(0);
  }
}
.article-more p {
  font-family: FS Elliot Pro;
  font-weight: normal;
}
.article-more a {
  color: #754c24;
  font-size: 26px;
}
.article-more .article-more-link {
  font-family: FS Elliot Pro Light;
  font-weight: lighter;
  margin: 0 auto;
  display: block;
  color: #999999;
  font-size: 17px;
  width: 140px;
  position: relative;
  top: 43px;
  text-transform: none !important;
}
.article-more .article-more-link:hover:before {
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  top: -7px;
}
.article-more .article-more-link:before {
  content: "";
  width: 28px;
  height: 1px;
  background: #666666;
  margin: 0 auto;
  display: block;
  position: relative;
  top: -20px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
/* Portfolio page */
.title-portfolio {
  left: -8px;
}
.portfolio-1 {
  background: url('../img/portfolio-1.jpg') no-repeat center top;
}
.portfolio-2 {
  background: url('../img/portfolio-2.jpg') no-repeat center top;
  margin: 0 !important;
}
.portfolio:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  ransition-property: background-color;
  transition-duration: 1s;
}
.portfolio:first-child {
  margin: 85px 0 17px 0;
}
.portfolio:hover:before {
  ransition-property: background-color;
  transition-duration: 1s;
  background: rgba(0, 0, 0, 0.5);
}
.portfolio:nth-child(2) {
  margin-top: 85px;
}
.portfolio {
  position: relative;
  margin: 0 0 17px 0;
}
.portfolio .wrap-content {
  text-align: center;
  position: relative;
  height: 535px;
}
.portfolio .wrap-content .content {
  width: 100% !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio .wrap-content .content h2 {
  font-size: 40px;
  line-height: 46px;
  text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.8);
  position: relative;
}
.portfolio .wrap-content .content p {
  font-size: 24px;
  line-height: 28px;
  padding: 10px 0 !important;
  text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.8);
  position: relative;
}
.portfolio .wrap-content .content .more {
  text-shadow: 0px 0px 17px rgba(0, 0, 0, 0.8);
  position: relative;
  color: white;
}
.portfolio p {
  padding: 58px 0;
}
/* About page */
.about {
  position: relative;
}
.about .title {
  text-align: center;
}
.about .title p {
  font-size: 55px;
  font-family: Vogue Highline Serif Medium;
  font-weight: normal;
  color: #000;
  padding: 50px 0;
  display: inline-block;
}
.about .title .i {
  display: inline-block;
  height: 43px;
  width: auto;
  margin: 0 20px;
}
.about .title .i-grey {
  display: none;
}
.about .container {
  width: 800px;
}
.about .about-bg {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  height: 500px;
  -webkit-animation-name: zoomInAbout;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-name: zoomInAbout;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}
@-webkit-keyframes zoomInAbout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  0% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
}
@keyframes zoomInAbout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  0% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
}
.about .founders {
  font-size: 15px;
  line-height: 21px;
  color: #000;
  margin: 25px 0 0 0;
}
.about .founders:before {
  content: "";
  display: block;
  background: #000;
  width: 44px;
  height: 1px;
  margin: 0 auto;
  position: relative;
  top: -25px;
}
.about .about_founders {
  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  column-width: 50%;
  -webkit-column-gap: 45px;
  -moz-column-gap: 45px;
  column-gap: 45px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  margin: 30px 0 0 0;
  color: #000;
}
.about .about_founders div {
  color: #000;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 30px 0;
}
.about .public {
  font-size: 15px;
  line-height: 21px;
  color: #000;
  margin: 25px 0 0 0;
}
.about .public:after {
  content: "";
  display: block;
  background: #000;
  width: 44px;
  height: 1px;
  margin: 0 auto;
  position: relative;
  top: 25px;
}
.about .img_public {
  margin: 55px 0 0 0;
  width: 100%;
  min-height: 10px;
  overflow: auto;
}
.about .img_public a {
  width: 25%;
  float: left;
  position: relative;
}
.about .img_public a:hover .hover_img_public {
  display: block;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
}
.about .img_public .hover_img_public {
  display: none;
  position: absolute;
  background: #fff;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.about .img_public .img_hover_public {
  margin: 0 auto;
  position: relative;
  top: 50px;
  padding: 10px;
}
.about .img_public .img_hover_public img {
  width: auto;
  height: auto;
}
.about .img_public .hover_img_public p {
  position: absolute;
  bottom: 60px;
  color: #000 !important;
  font-size: 14px;
  width: 100%;
}
.about .img_public img {
  width: 100%;
  height: auto;
  padding: 0 12px 25px 12px;
  box-sizing: border-box;
}
.about .izdania {
  width: 25%;
  float: left;
}
.about .article-more {
  border-top: 1px #646470 solid;
  margin: 55px 0 0 0;
  padding: 40px 0 80px 0;
}
.about .article-more img {
  width: 27px;
  height: 31px;
  padding: 0 0 25px 0;
}
/* Contact page */
.contacts .addr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
}
.contact p.last {
  margin: 0 40px 0 0;
}
.contacts .logo-contact {
  margin: 0 auto;
  display: block;
  width: 590px;
  height: auto;
}
h3.title_contacts {
  left: -58px;
}
.contacts {
  border-top: 1px #000000 solid;
  padding: 150px 0;
  min-height: 10px;
  overflow: auto;
}
.contacts .contact {
  margin: 80px 0 0 0;
  float: left;
  width: 100%;
}
.contacts p.title {
  margin: 0 0 80px 0;
}
.contacts .bg_prosperity {
  width: 100%;
  background: #bababa;
  padding: 45px 0;
  display: none;
}
.contacts .bg_prosperity .prosperity_white {
  display: none;
  width: 80%;
  height: auto;
}
.contacts .social {
  margin: 0 auto;
  display: block;
  width: 330px;
}
.contacts .social img {
  height: 58px;
  width: auto !important;
}
.contacts .social li:first-child {
  margin: 70px 60px 0 0;
}
.contacts .social li:last-child {
  margin: 70px 0 0 40px;
}
.contacts .social li {
  display: inline-block;
  margin: 70px 50px 0 50px;
}
.contacts p {
  color: #000;
  font-size: 29px;
  text-transform: uppercase;
  font-family: FS Elliot Pro;
  font-weight: normal;
}
.contacts .left,
.contacts .right {
  text-align: center;
  float: left;
  box-sizing: border-box;
}
.contacts .left p,
.contacts .right p {
  text-transform: none;
  color: #5f5f5f;
  font-family: FS Elliot Pro Light;
  font-weight: lighter;
  margin: 0 0 20px 0;
  line-height: 38px;
}
.contacts .right {
  position: relative;
  width: 50%;
}
.contacts .right p {
  text-align: left;
  margin: 0 120px 23px 0;
}
.contacts .left {
  width: 48%;
}
.contacts .left p {
  text-align: right;
  margin: 0 40px 23px 0;
}
.contacts .left .wrap_call {
  margin: 55px 0 0 0;
  display: none;
}
.contacts .left .wrap_call .call {
  display: none;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  padding: 24px 0;
  width: 66%;
  margin: 0 auto;
  display: block;
  border: 1px #5f5f5f solid;
  color: #000;
  font-size: 24px;
}
.contacts .left .wrap_call .call:after {
  border-bottom: 1px #e6e6e6 solid;
  background: #5f5f5f;
  height: 1px;
  width: 60px;
  content: "";
  position: relative;
  top: 80px;
  margin: 0 auto;
  display: block;
}
.contacts .right::before {
  background: url('../img/line-left.svg') no-repeat left center;
  content: "";
  display: inline-block;
  width: 1px;
  height: 38px;
  float: left;
  margin: 0 40px 20px 0;
  box-sizing: border-box;
  top: 47%;
  transform: translateY(-50%);
  position: relative;
}
/* Footer */
.footer-front-page {
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1003;
  box-sizing: border-box;
  display: none;
}
footer {
  padding: 0 50px;
  height: 60px;
  float: left;
  width: 100%;
  box-sizing: border-box;
  background: white;
  /* Chrome, Safari, Opera */
  /* Standard syntax */
}
footer .prosperity {
  display: none;
}
footer .call {
  display: none;
}
footer .social {
  float: left;
}
footer .social li {
  display: inline-block;
  -webkit-animation: FadeInSocial 1s linear;
  -webkit-animation-fill-mode: both;
}
footer .social img {
  height: 17px !important;
  margin: 23px 25px 0 0;
}
footer .social li:nth-child(1) img {
  width: 8px;
}
footer .social li:nth-child(2) img {
  width: 10px;
}
footer .social li:nth-child(3) img {
  height: 17px !important;
  width: 17px;
}
@-webkit-keyframes FadeInSocial {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer .social li:nth-child(1) {
  animation-delay: 1s;
}
footer .social li:nth-child(2) {
  animation-delay: 1.4s;
}
footer .social li:nth-child(3) {
  animation-delay: 1.8s;
}
footer .pro {
  float: left;
  color: #333333;
  font-size: 17px;
  position: relative;
  top: 20px;
  margin: 0 0 0 24px;
  -webkit-animation-name: fadeanimation;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 3s;
  /* Chrome, Safari, Opera */
  animation-name: fadeanimation;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  /* Задержка перед началом */
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}
@-webkit-keyframes fadeanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}
@keyframes fadeanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
footer .logo {
  float: right;
  margin: 17px 0 0 0;
  border-bottom: 1px #333333 solid;
  height: 30px;
}
footer .logo img {
  height: auto;
  width: 53px;
}
.misha_loadmore {
  background-color: #ddd;
  border-radius: 2px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}
.misha_loadmore:hover {
  background-color: #767676;
  color: #fff;
}
.modal {
  position: fixed;
  /* фиксированное положение */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  /* цвет фона */
  z-index: 2050;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  transition: opacity 200ms ease-in;
  /* анимация перехода */
  pointer-events: none;
  /* элемент невидим для событий мыши */
  margin: 0;
  padding: 0;
}
/* при отображении модального окно */
.modal:target {
  pointer-events: auto;
  /* элемент видим для событий мыши */
  overflow-y: auto;
  /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto;
    /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */
.modal-content {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
  outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eceeef;
}
.modal-title {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 1.25rem;
  font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}
.sp-popup-outer {
  z-index: 2000;
}

@media screen and (max-width: 1276px) {

  #portfolio-detail #info .share .fb,
  #portfolio-detail #info .share .inst {
    display: block;
    margin: 10px auto;
    top: 24px !important;
    left: 5px;
  }
}

@media screen and (max-width: 1240px) {
  #portfolio-detail #info .share .fb,
  #portfolio-detail #info .share .inst {
    display: block;
    margin: 10px auto;
    top: -2px !important;
    left: 5px;
  }

  /* Philosophy page */
  .blog {
    width: 800px !important;
  }
  .blog .blog-img {
    width: 230px !important;
    height: 230px !important;
  }
  .blog .blog-prev {
    width: -webkit-calc(100% - 270px) !important;
    width: -o-calc(100% - 270px) !important;
    width: calc(100% - 270px) !important;
  }
  /* Portfolio slider page */
  #portfolio-detail #photo {
    width: 60%;
  }
  #portfolio-detail #info {
    width: 40%;
  }
  #portfolio-detail #info h2 {
    font-size: 28px;
    line-height: 34px;
  }
}
@media screen and (max-width: 1130px) {
  /* Philosophy page */
  aside {
    width: 260px !important;
  }
  .blog {
    padding: 50px 0 45px 40px !important;
    width: 720px !important;
  }
  .blog .blog-img {
    width: 180px !important;
    height: 180px !important;
  }
  .blog .blog-img img {
    width: 200%;
    height: auto;
  }
  .blog .blog-prev {
    width: -webkit-calc(100% - 220px) !important;
    width: -o-calc(100% - 220px) !important;
    width: calc(100% - 220px) !important;
  }
  /* About page */
  .about .title p {
    font-size: 45px;
  }
  .about .title img {
    height: 33px;
  }
  /* Contact page */
}
@media screen and (max-width: 1030px) {

  #portfolio-detail #info .share .fb,
  #portfolio-detail #info .share .inst {
    display: block;
    margin: 10px auto;
    top: 24px !important;
    left: 5px;
  }

  /* General */
  .container {
    width: 830px !important;
  }
  /* Home page */
  .home-page {
    background: url('../img/pre-video.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    height: 500px;
    -webkit-animation-name: zoomInAbout;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s;
    /* Chrome, Safari, Opera */
    animation-name: zoomInAbout;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
  }
  @-webkit-keyframes zoomInAbout {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    0% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
    }
  }
  @keyframes zoomInAbout {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    0% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }
  .home-page iframe {
    display: none !important;
  }
  .home {
    background: url('../img/home.jpg') no-repeat center;
    height: auto;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
  }
  .home .prosperity {
    width: 550px;
  }
  .home p {
    font-size: 18px;
  }
  /* Artnuvo page */
  .artnuvo .content {
    height: 680px !important;
  }
  .artnuvo .col-1 {
    width: 500px !important;
  }
  .artnuvo .col-1 img {
    margin: 0 0 50px 0 !important;
  }
  .artnuvo .col-2 {
    width: 260px !important;
  }
  .artnuvo .info {
    width: 500px !important;
    margin: -110px 0 30px 0 !important;
  }
  .artnuvo .info .share {
    text-align: center;
    margin: 30px 0 0 0 !important;
  }
  .artnuvo .slick-slide {
    margin: 50px 0 0 0;
  }
  .artnuvo .slick-slide img {
    width: 92%;
  }
  .artnuvo .slick-prev {
    top: 340px !important;
  }
  .artnuvo .slick-next {
    top: 340px !important;
  }
  /* Philosophy page */
  aside {
    width: 230px !important;
  }
  .blog {
    padding: 50px 0 45px 40px !important;
    width: 620px !important;
  }
  .blog .blog-img {
    width: 130px !important;
    height: 130px !important;
  }
  .blog .blog-prev {
    width: -webkit-calc(100% - 160px) !important;
    width: -o-calc(100% - 160px) !important;
    width: calc(100% - 160px) !important;
  }
  .blog .blog-prev .more {
    float: left !important;
    margin: 30px 0 0 0;
  }
  /* Article page */
  .article h1 {
    width: 560px;
    padding: 0 20px;
    margin-left: -280px;
  }
  .in-article-body {
    width: 700px !important;
  }
  .in-article-body img {
    width: 100%;
    height: auto;
    margin: 30px 0 !important;
  }
  .contacts .left {
    width: 50%;
  }
}

@media screen and (max-width: 958px) {

  #portfolio-detail #info .share .fb,
  #portfolio-detail #info .share .inst {
    display: block;
    margin: 10px auto;
    top: 24px !important;
    left: 5px;
  }
}

@media screen and (max-width: 900px) {
  /* General */
  .container {
    width: 690px !important;
  }
  /* Home page */
  .home-page .wrap-content {
    width: 100%;
  }
  .home-page .wrap-content .prosperity {
    width: 80% !important;
    margin: 0 auto;
    display: block;
    padding: 0 20px;
  }
  .home-page .wrap-content p {
    padding: 0 20px;
  }
  .home-page .content {
    width: 100%;
  }
  /* Artnuvo page */
  .artnuvo {
    background: #fff;
  }
  .artnuvo .wrap-content h1 {
    width: 700px;
    margin-left: -350px;
    font-size: 40px;
    margin-top: 0px;
    top: 200px !important;
  }
  .artnuvo .wrap-parallax {
    margin: 100px 0 0 0;
  }
  .artnuvo .wrap-parallax .container {
    width: 100% !important;
  }
  .artnuvo .wrap-parallax .container p {
    padding: 0 30px;
  }
  .artnuvo .responsive {
    float: left;
  }
  .artnuvo .responsive div {
    height: 90px !important;
    margin: 20px 3% !important;
  }
  .artnuvo .responsive img {
    height: 100%;
  }
  .artnuvo .col-1 {
    width: 100% !important;
    margin: 0!important;
  }
  .artnuvo .col-1 img {
    margin: 0 0 40px 0 !important;
    width: 100%;
    height: auto;
  }
  .artnuvo .col-1 p {
    padding: 20px !important;
  }
  .artnuvo .col-2 {
    width: 100% !important;
  }
  .artnuvo .col-2 img {
    margin: 0 0 40px 0 !important;
    width: 100%;
    height: auto;
  }
  .artnuvo p {
    padding: 15px 0 !important;
  }
  .artnuvo .content {
    height: 680px !important;
  }
  .artnuvo .info {
    width: 100% !important;
    margin: 0 0 30px 0 !important;
  }
  .artnuvo .info .share {
    text-align: center;
    margin: 120px 0 0 0 !important;
  }
  .artnuvo .info .share .inst {
    top: -3px !important;
  }
  .artnuvo .info .fb,
  .artnuvo .info .inst {
    width: 220px;
    padding: 0 0 18px 0px !important;
    margin: 8px 0 !important;
  }
  .artnuvo .responsive .slick-prev {
    position: absolute;
    left: 210px;
    top: 309px !important;
  }
  .artnuvo .responsive .slick-next {
    position: absolute;
    right: 210px;
    top: 309px !important;
  }
  .artnuvo .article-more p {
    padding: 0 !important;
  }
  .artnuvo footer p {
    padding: 0 !important;
  }
  /* Philosophy page */
  .jump {
    animation-name: jump;
    -webkit-animation-name: jump;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
  }
  @keyframes jump {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-15%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes jump {
    0% {
      -webkit-transform: translateY(0%);
    }
    50% {
      -webkit-transform: translateY(15%);
    }
    100% {
      -webkit-transform: translateY(0%);
    }
  }
  aside {
    width: 100% !important;
    height: auto !important;
    min-height: 10px;
    overflow: auto;
    position: absolute;
    text-align: center;
    z-index: 400;
    background: #fff;
  }
  .philosophy .open_blog_menu {
    display: block;
    position: fixed;
    z-index: 999;
  }
  header.phil {
    border-bottom: none;
  }
  .blog {
    width: 100% !important;
    padding: 0  0 45px 0 !important;
    margin: 0;
  }
  .blog .blog-prev .more {
    float: right !important;
    margin: 0 !important;
  }
  .blog .blog-img {
    width: 100% !important;
    height: 250px !important;
    border-radius: 0;
    margin: 0;
  }
  .blog .blog-img img {
    top: 0 !important;
    width: 140% !important;
  }
  .blog .blog-prev {
    width: 100% !important;
    margin: 30px 0 0 0;
    padding: 0 30px;
    float: left !important;
  }
  .blog .blog-prev h2 {
    padding: 0 0 30px 0;
  }
  /* Article page */
  .article .wrap-meta a.link-next-art {
    border: 1px #808080 solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    top: 0px;
    padding: 7px 40px !important;
    text-align: center !important;
    margin: 0 auto;
    display: inline-block;
    float: none !important;
  }
  .wrap-link-next-art {
    width: 100%;
    float: left;
    margin: 0 0 60px 0;
  }
  .article .wrap-content {
    width: 100% !important;
    text-align: center !important;
  }
  .article .wrap-content h1 {
    font-size: 30px !important;
    line-height: 36px !important;
    box-sizing: border-box;
    top: 250px !important;
  }
  .article .in-article-body {
    width: 100% !important;
    padding: 0 30px !important;
    box-sizing: border-box;
  }
  .article .in-article-body img {
    /*display: none;*/
    max-width: 100%;
  }
  .article .in-article-body .wrap-meta {
    text-align: center;
    border-top: none !important;
    margin: 5px 0 0 0 !important;
    padding: 12px 0 20px 0 !important;
  }
  .article .in-article-body .meta {
    width: 100%;
    padding: 0 0 60px 0;
  }
  .article .in-article-body .share .left {
    top: 0 !important;
  }
  .article .in-article-body .share .left iframe {
    width: 200px !important;
    margin: 0 0 40px 0 !important;
  }
  /* About page */
  .about .title p {
    font-size: 35px;
  }
  .about .title .i {
    height: 25px;
    margin: 0 14px;
  }
  /* Portfolio slider page */
  #portfolio-detail #info .share .fb,
  #portfolio-detail #info .share .inst {
    display: block;
    margin: 10px auto;
    top: 20px !important;
    left: 5px;
  }
  .share .inst {
    top: -23px;
  }
  .left-slider #uSocial .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl,
  .s-slider .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
    width: 242px !important;
    margin: 0 !important;
    background: url(../img/fb-empty.svg) no-repeat center top 10px !important;
    top: 0 !important;
  }
  .artnuvo #uSocial .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl,
  .s-slider .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
    width: auto !important;
    margin: 0 !important;
    background: url(../img/fb-empty.svg) no-repeat center top 10px !important;
    top: 0 !important;
  }
}
@media screen and (max-width: 768px) {

  #portfolio-detail #info .share .fb,
  #portfolio-detail #info .share .inst {
    margin: 10px auto;
    top: -18px !important;
  }

  .blog .wrap-next-arr:before {
    top: -9px;
  }
  /* General */
  .container {
    width: 100% !important;
    padding: 0 30px 20px 30px;
    box-sizing: border-box;
  }
  .nav-links > ul {
    background-color: rgba(255, 255, 255, 0.8) !important;
  }
  .mobile-social,
  .mobile-social-p {
    display: block;
  }
  .mobile-social-p {
    position: relative;
    left: 9px;
  }

  .mobile-offerta {
    display: block;
    margin: 10px 0;
    padding: 0
  }

  .mobile-offerta a {
    color: #821d1d;
  }

  h1 {
    font-size: 95px;
  }
  h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .phil h3 {
    left: 0 !important;
  }
  h3 {
    font-size: 20px;
    left: -30px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
  }
  .more {
    font-family: FS Elliot Pro Bold;
    font-weight: bold;
  }
  #gnavi .nav-btn a .bars {
    padding: 0 19px;
  }
  .front-menu.nav-open .nav-btn a .bars .bar {
    background-color: #000 !important;
  }
  .front-menu .nav-btn a .bars {
    padding: 5px !important;
  }
  #gnavi .nav-btn a .bars .bar {
    width: 40px !important;
  }
  #gnavi-links li {
    margin-bottom: 35px !important;
  }
  /* Home page */
  .home .wrap-content {
    width: 500px;
  }
  .home .prosperity {
    width: 500px;
  }
  .home p {
    font-size: 16px;
  }
  a .bars .bar {
    background-color: #646470!important;
  }
  /* Article page */
  .link-back.phil span {
    display: inline-block;
    top: 2px;
    position: relative;
  }
  .phil_menu {
    display: none;
  }
  #gnavi-links ul.hover-line-links {
    padding: 90px 0 0 0 !important;
    width: 280px !important;
  }
  #gnavi-links ul.hover-line-links div {
    padding: 0 0 0 76px;
  }
  .article h3 {
    display: block;
    text-align: center;
    color: #000;
    font-size: 26px;
    padding: 25px 0 0 0;
    left: -45px;
  }
  .article .article-body {
    margin: 20px 0 0 0;
  }
  .article aside {
    display: block;
    position: absolute;
    z-index: 300;
    background: #fff;
    top: 88px;
    min-height: 0 !important;
  }
  .article aside ul {
    border-bottom: none;
  }
  .article .open_blog_menu {
    display: block;
  }
  .article-bg {
    margin-top: 88px !important;
  }
  .article-bg .link-back {
    display: none;
  }
  .wrap-parallax {
    top: 280px !important;
  }
  /* Textile page */
  .textile-1 {
    background: url('../img/textile-1-742.jpg') no-repeat center top !important;
  }
  .textile-2 {
    background: url('../img/textile-2-742.jpg') no-repeat center top !important;
  }
  .textile-3 {
    background: url('../img/textile-3-742.jpg') no-repeat center top !important;
  }
  .textile .wrap-content {
    width: 100% !important;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  .textile .content {
    display: block !important;
    height: auto !important;
    min-height: 10px;
    overflow: auto;
    padding: 60px 0 90px 0;
  }
  .article-more {
    padding: 70px 0 !important;
  }
  .article-more p a {
    font-size: 18px !important;
    line-height: 22px;
  }
  /* Artnuvo page */
  .artnuvo {
    background-color: #ffffff !important;
  }
  .artnuvo .artnuvo-bg {
    height: 474px;
  }
  .artnuvo .wrap-content {
    width: 520px !important;
  }
  .artnuvo .wrap-content .content {
    width: 520px !important;
  }
  .artnuvo .col-1 {
    width: 100% !important;
    margin: 0 !important;
  }
  .artnuvo .col-1 img {
    padding: 0 0 30px 0 !important;
    margin: 0 !important;
  }
  .artnuvo .col-1 img:nth-child(2n) {
    display: none;
  }
  .artnuvo .col-2 {
    width: 100% !important;
  }
  .artnuvo .col-2 img:nth-child(2n) {
    display: none;
  }
  .artnuvo .col-2 img {
    padding: 0 0 30px 0 !important;
    margin: 0 !important;
  }
  .artnuvo .info {
    margin: 0 !important;
    width: 100% !important;
  }
  .artnuvo .info p {
    font-size: 20px !important;
    line-height: 24px !important;
    padding: 0 30px !important;
  }
  .artnuvo .info .share {
    margin: 50px 0 0 0 !important;
  }
  .artnuvo .info .share .inst {
    top: -23px !important;
  }
  .artnuvo .info .share .left {
    top: 0;
  }
  .artnuvo .info .share .left #uSocial .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl,
  .artnuvo .info .share .left .uSocial-Share .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
    padding: 27px 107px 27px 107px !important;
  }
  .artnuvo .buttons {
    padding: 25px 0;
  }
  .artnuvo .buttons .prev-art {
    left: 15px;
  }
  .artnuvo .buttons .next-art {
    right: 15px;
  }
  .artnuvo .buttons.bottom {
    display: none;
  }
  .artnuvo .responsive {
    padding: 10px 40px;
  }
  .artnuvo .responsive {
    padding: 0;
    height: auto !important;
  }
  .artnuvo .responsive .slick-prev {
    top: -45px !important;
    left: 30px !important;
  }
  .artnuvo .responsive .slick-next {
    top: -45px !important;
    right: 30px !important;
  }
  .artnuvo .responsive .slick-slide div {
    margin: 0 0 20px 0;
  }
  .artnuvo .slick-slide img {
    width: 82%;
  }
  .artnuvo .article-more {
    float: left;
    width: 100%;
    padding: 50px 0 70px 0 !important;
  }
  .artnuvo .article-more p {
    padding: 0 30px !important;
  }
  .artnuvo .article-more a {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .artnuvo .article-more .article-more-link {
    font-size: 18px !important;
  }
  .artnuvo .wrap-parallax .responsive div {
    width: 46%;
  }
  /* Philosophy page */
  header.phil h3 {
    left: -47px;
  }
  .subscribe {
    display: none;
  }
  aside {
    min-height: 0;
    position: absolute;
    /*padding: 0 0 60px 0;*/
  }
  aside ul {
    border-bottom: none;
  }
  .blog-img {
    height: 322px !important;
    width: 100% !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    margin: 0 0 50px 0;
  }
  img {
    width: 100% !important;
  }
  .blog-prev {
    margin: 0 auto;
    display: block;
    width: 480px !important;
    float: none !important;
    box-sizing: border-box;
  }
  .blog-prev h2 {
    font-size: 26px !important;
    line-height: 32px !important;
  }
  /* Portfolio page */
  .article-mobile {
    display: block;
  }
  .article-desktop {
    display: none;
  }
  .portfolio .wrap-content .content h2 {
    padding: 0 40px;
  }
  .paginate {
    margin: 0 !important;
    position: relative !important;
    width: 100%;
    max-width: 100%;
  }
  #portfolio-detail #info .share .left-slider {
    top: 0;
    left: -4px;
  }
  #portfolio-detail #photo {
    margin: 85px 0 0 0;
  }
  /* About page */
  .about .about-bg {
    height: 440px;
  }
  .about .title {
    position: relative;
    padding: 70px 0 0 0;
  }
  .about .title p {
    font-size: 55px;
    display: block;
    position: relative;
    z-index: 1;
    padding: 25px 0;
  }
  .about .title .i {
    display: none;
  }
  .about .title .i-grey {
    display: block;
    position: absolute;
    z-index: 0;
    top: 25px;
    width: 195px !important;
    height: auto;
    left: 0px;
    right: 0px;
    margin: 0px auto;
  }
  .about .founders {
    margin: 70px 0 0 0 !important;
  }
  .about .about_founders {
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    margin: 30px 0 0 0;
  }
  .about .img_public {
    margin: 90px 0 0 0;
  }
  .about .img_public a {
    width: 50%;
  }
  .about .img_public img {
    width: 94% !important;
    margin: 0 auto 26px;
    display: block;
    box-sizing: border-box;
  }
  .about .img_public img:last-child {
    margin: 0 auto 26px;
  }
  .about .article-more {
    border-top: none;
    margin: 0 0 30px 0;
  }
  /* Contact page */
  .contacts .logo-contact {
    width: 80% !important;
  }
  /* Footer */
  footer.footer-front-page {
    position: fixed;
    top: 100%;
  }
  footer {
    background: #e3d9d4 !important;
    min-height: 10px;
    height: auto !important;
    overflow: auto;
    padding: 0 0 35px 0 !important;
    border-top: none;
    float: left;
    width: 100%;
  }
  footer .prosperity {
    display: block !important;
    width: 70% !important;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 45px 0;
  }
  footer .call {
    text-align: center;
    display: block !important;
    margin: 0 auto;
    display: block;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 20px 0;
    width: 260px;
    text-transform: uppercase;
    font-size: 18px;
    border: 1px #666666 solid;
    color: #1a1a1a;
  }
  footer p,
  footer .logo {
    display: none !important;
  }
  footer .social {
    margin: 0 auto;
    display: block;
    width: 180px;
    text-align: center;
    padding: 35px 0 27px 0;
    float: none;
  }
  footer .social li {
    float: left;
    width: 33.3%;
  }
  footer .social li img {
    margin: 0 !important;
    height: 28px;
  }
  /* Portfolio slider page */
  #portfolio-detail #photo {
    width: 100% !important;
    position: relative;
    border-left: none;
    height: auto !important;
  }
  #portfolio-detail #info {
    position: absolute;
    top: 85px;
    border-left: none;
    width: 100% !important;
  }
  #portfolio-detail #info h2 {
    margin: 50px 0;
  }
  .photo-mobile {
    display: block;
  }
  .photo-desk {
    display: none;
  }
  .info-mobile p {
    color: #000 !important;
  }
  .article h1 {
    top: 175px !important;
  }
}
@media screen and (max-width: 620px) {
  /* General */
  h1 {
    font-size: 90px;
  }
  .link-back {
    font-size: 18px;
    top: 29px;
  }
  /* Home page */
  .home .content {
    height: 600px;
    display: block;
  }
  .home .wrap-content {
    width: 100%;
  }
  .home .wrap-prosperity {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 30px 0;
    margin: 220px 0 0 0;
  }
  .home .wrap-prosperity .prosperity {
    width: 400px;
  }
  .home p {
    font-size: 16px;
    margin: 170px 0 0 0;
  }
  /* Artnuvo page */
  .artnuvo .wrap-content h1 {
    width: 500px;
    margin-left: -250px;
    font-size: 60px;
  }
  /* Philosophy page */
  .blog .blog-prev {
    width: 100% !important;
    padding: 0 30px !important;
  }
  .blog .blog-prev h2 {
    font-size: 24px !important;
    line-height: 30px !important;
  }
  .blog .blog-prev .more {
    margin: 0 !important;
  }
  .meta {
    text-align: left;
  }
  /* About page */
  .about .title {
    padding: 40px 0 0 0;
  }
  .about .title p {
    font-size: 40px;
    padding: 20px 0;
  }
  .about .title .i-grey {
    width: 150px !important;
  }
  /* Contact page */
  .contacts .logo-contact {
    display: none;
  }
  .contacts .contact {
    margin: 50px 0 0 0;
  }
  .contacts .addr {
    left: 0;
    padding: 0 30px;
  }
  .contacts {
    padding: 0 0 80px 0;
  }
  .contacts .container {
    padding: 0;
  }
  .contacts .bg_prosperity {
    margin: 0 auto 40px;
    display: block;
    height: auto !important;
  }
  .contacts .bg_prosperity .prosperity_white {
    margin: 0 auto;
    display: block;
    width: 80% !important;
    height: auto;
  }
  .contacts p.title {
    display: none;
  }
  .contacts .left,
  .contacts .right {
    width: 100%;
    margin: 40px 0 0 0;
  }
  .contacts .left p,
  .contacts .right p {
    margin: 0 0 45px 0;
    font-size: 40px;
    text-align: center;
  }
  .contacts .right {
    margin: 100px 0 0 0;
  }
  .contacts .left .call {
    display: block;
  }
  .contacts p {
    font-size: 20px;
  }
  .contacts .right::before {
    display: none;
  }
  .footer-contacts {
    display: none;
  }
  /* Article page */
  .article h1 {
    width: 90%;
    padding: 0 5%;
    margin-left: 0;
    left: 0;
    font-size: 18px;
    line-height: 22px;
  }
  .article .link-back {
    left: 70px;
  }
}
@media screen and (max-width: 530px) {
  /* General */
  h1 {
    font-size: 70px;
  }
  /* Home page */
  .home .wrap-prosperity .prosperity {
    width: 80%;
  }
  .home p {
    margin: 120px 30px 0 30px;
  }
  /* Artnuvo page */
  .artnuvo .wrap-content h1 {
    width: 100%;
    margin-left: 0;
    left: 0;
    font-size: 30px;
    top: 240px !important;
  }
  /* Philosophy page */
  .blog .blog-img {
    height: 230px !important;
  }
  .article .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-bottom .uscl-item .ico_uscl .uscl-each-counter,
  .article .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-horizontal .uscl-item .ico_uscl .uscl-each-counter,
  .article .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-top .uscl-item .ico_uscl .uscl-each-counter,
  .article .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-bottom .uscl-item .ico_uscl .uscl-each-counter,
  .article .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-horizontal .uscl-item .ico_uscl .uscl-each-counter,
  .article .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-top .uscl-item .ico_uscl .uscl-each-counter {
    margin: -5px 0 0 18px;
  }
  .blog .blog-prev .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-bottom .uscl-item .ico_uscl .uscl-each-counter,
  .blog .blog-prev .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-horizontal .uscl-item .ico_uscl .uscl-each-counter,
  .blog .blog-prev .facebook #uSocial .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-top .uscl-item .ico_uscl .uscl-each-counter,
  .blog .blog-prev .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-bottom .uscl-item .ico_uscl .uscl-each-counter,
  .blog .blog-prev .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-horizontal .uscl-item .ico_uscl .uscl-each-counter,
  .blog .blog-prev .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-eachCounter1.uscl-top .uscl-item .ico_uscl .uscl-each-counter {
    margin: -5px 0 0 18px;
  }
  /* Article page */
  .article .wrap-content h1 {
    font-size: 24px !important;
    line-height: 30px !important;
    padding: 0 5% !important;
    top: 250px !important;
  }
  .article .wrap-parallax {
    top: 360px !important;
  }
  .article-bg {
    height: 340px;
  }
  /* About page */
  .about .about-bg {
    height: 174px;
  }
  .about .title p {
    font-size: 40px;
  }
  .about .title .i-grey {
    width: 140px !important;
  }
  .about .img_public {
    margin: 90px 0 0 0;
  }
  .about .img_public img {
    width: 46%;
    margin: 0 2% 20px 2%;
    box-sizing: border-box;
  }
  .about .img_public img:last-child {
    margin: 0 2% 20px 2%;
  }
  /* Contact page */
  .contacts .left .wrap_call {
    display: block;
  }
  .contacts .social {
    width: 190px;
  }
  .contacts .social img {
    height: 40px;
  }
  .contacts .social li:first-child {
    margin: 70px 20px 0 0;
  }
  .contacts .social li {
    display: inline-block;
    margin: 70px 30px 0 30px;
  }
  .contacts .social li:last-child {
    margin: 70px 0 0 15px;
  }
  .contacts .left,
  .contacts .right {
    width: 100%;
    margin: 10px 0 0 0;
  }
  .contacts .left p,
  .contacts .right p {
    font-size: 29px;
    margin: 0 0 25px 0;
  }
  .contacts .right {
    margin: 35px 0 0 0;
    height: auto !important;
  }
  .contacts .right .addr {
    position: relative;
    top: 0;
    margin: 60px 0 0 0;
    transform: none;
  }
  /* Artnuvo page */
  .artnuvo .wrap-parallax {
    margin: 180px 0 0 0;
  }
  .artnuvo .responsive div {
    width: 44% !important;
    margin: 0 3% 20px 3% !important;
  }
  .artnuvo .responsive .slick-slide div {
    margin: 0;
  }
  .slick-slider .slick-list {
    height: 330px;
  }
  .article .article-body {
    padding: 20px 0 0px 0;
  }
  .artnuvo .info .share .inst {
    width: 200px;
    top: 10px !important;
  }
  #uSocial .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl,
  .uSocial-Share .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
    margin: 0 !important;
  }
}
@media screen and (max-width: 425px) {
  .article h1 {
    top: 220px !important;
  }
  /* Home */
  .home-page p {
    font-size: 15px;
    line-height: 22px;
    padding: 0 20px;
  }
  /* General */
  h1 {
    font-size: 55px;
  }
  /* Artnuvo page */
  .artnuvo .wrap-content {
    width: 330px !important;
  }
  .artnuvo .wrap-content .content {
    width: 330px !important;
  }
  .artnuvo .wrap-parallax .responsive div {
    padding: 0;
  }
  /* Philosophy page */
  .blog .blog-img {
    height: 180px !important;
  }
  .blog .blog-prev .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
    top: 0 !important;
  }
  .article .facebook .uSocial-Share .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
    top: 0 !important;
  }
  .like {
    position: relative;
    top: 4px;
  }
  /* Article page */
  .article .wrap-meta .next-article {
    font-size: 11px;
  }
  /* About page */
  .about .title p {
    font-size: 30px;
    padding: 15px 0;
  }
  .about .title .i-grey {
    width: 125px !important;
  }
  .about .img_public img {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .about .img_public img:last-child {
    margin: 0 0 20px 0;
  }
  /* Contact page */
  .contacts .left p,
  .contacts .right p {
    font-size: 26px;
    line-height: 28px;
    padding: 0;
  }
  .contacts .left .wrap_call {
    margin: 40px 0 0 0;
  }
  .contacts .left .wrap_call .call {
    width: 60%;
    font-size: 20px;
    padding: 20px 0;
  }
  .contacts .left .wrap_call .call::after {
    top: 70px;
  }
  #portfolio-detail #info .share .fb,
  #portfolio-detail #info .share .inst {
    width: 123px;
  }
  #uSocial .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl,
  .uSocial-Share .uscl-bar.uscl-size48.uscl-round-rect .ico_uscl {
    width: 180px !important;
  }
  .artnuvo .info .fb,
  .artnuvo .info .inst {
    width: 200px;
  }
  .sp-popup-outer .sp-form-popup {
    position: relative;
    margin: 8vh auto;
    top: 100px;
  }
}
@media screen and (max-width: 395px) {
  #portfolio-detail #info .share .fb,
  #portfolio-detail #info .share .inst {
    top: 12px !important;
  }
}
@media screen and (max-width: 320px) {
  /* General */
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 19px;
    line-height: 26px;
  }
  #gnavi-links li {
    margin-bottom: 35px !important;
  }
  /* Textile page */
  .article-more {
    padding: 60px 20px !important;
  }
  /* Artnuvo page */
  .artnuvo .wrap-content {
    width: 260px !important;
  }
  .artnuvo .content {
    width: 260px !important;
    height: 630px !important;
  }
  .artnuvo .responsive {
    padding: 0 !important;
  }
  /* Portfolio page */
  .portfolio .wrap-content .content h2 {
    font-size: 26px !important;
    line-height: 32px !important;
    padding: 0 10px !important;
  }
  /* About page */
  .about .title p {
    font-size: 26px;
  }
  /* Footer */
  footer .prosperity {
    width: 100%;
    padding: 35px 0;
  }
  footer .call {
    padding: 18px 0;
    width: 230px;
  }
  footer .social img {
    margin: 0 12px !important;
    height: 24px;
  }
  .home-page .wrap-content .prosperity {
    width: 70% !important;
  }
  .sp-form[sp-id="101091"] {
    width: 260px;
  }
  .blog .blog-prev .data {
    font-size: 12px;
  }
  .blog .blog-prev .more {
    margin: 0px 0 0 0 !important;
    width: 120px;
  }
}
@media screen and (min-width: 769px) {
  .photo-height {
    top: 0 !important;
  }
}
