<template>
    <div id="prosperity">
        <Hamburger/>
        <Overlay/>
        <MainMenu/>
        <nuxt/>
    </div>
</template>


<script>
import Hamburger from '../components/hamburger';
import MainMenu from '../components/mainmenu';
import Overlay from "../components/overlay";

export default {
    components: {
        MainMenu, Hamburger, Overlay
    },
    head() {
        return {
            title: 'Oksana Korotkina Studio',
            meta: [
                // hid is used as unique identifier. Do not use `vmid` for it as it will not work
                {
                    hid: 'Oksana Korotkina Studio',
                    name: 'Oksana Korotkina Studio',
                    content: 'Oksana Korotkina Studio'
                }
            ]
        }
    }
}
</script>

<style lang="scss">
@import "less/animation";
</style>
<style lang="less">
@import "less/vars_nobar.less";
@import "less/fonts.less";
@import 'less/mixins.less';
@import "less/main.less";
@import "less/menu.less";
@import "less/common.less";
</style>




