<template>
    <div class="main">
        <div class="main_pic"/>

        <div class="about">
            <div class="header">
                <h1 class="title2">Оксана Короткина</h1>
                <p class="line">_____</p>
                <p class="subheader">ОСНОВАТЕЛЬ СТУДИИ</p>
            </div>
            <div class="content">
                <div class="pane">
                    <div class="p">Оксана Короткина — основатель студии OKSANA KOROTKINA STUDIO.
                        Закончила Университет Дизайна и Технологии, а затем Школу Дизайна «Детали».
                        Ее проекты публикуют ведущие журналы и интерьерные сайты. Призер конкурса
                        MODERN HOME 2019 и ADD AWARDS 2021 годах.
                    </div>
                    <div class="p">Оксана верит, что ее творчество раскрывает потенциал пространства
                        интерьера и делает людей счастливее! В каждом проекте, который она создает есть
                        что-то особенное. В основе — функциональность и гармония, эстетика и
                        креативность.
                        Команда студии включает в себя архитекторов и дизайнеров, оказывает услуги по
                        разработке и реализации проектов частных интерьеров.
                    </div>
                </div>
                <div class="pane">
                    <div class="p">С января 2008 — март 2021 эта компания называлась PROSPERITY
                        INTERIOS,
                        которую основали Оксана Короткина и Юлия Копытина.
                        Сейчас мы разделили компанию на два направления:
                        OKSANA KOROTKINA STUDIO — занимается созданием частных интерьеров.
                        PROSPERITY TEXTILE & DECORATION — комплексное текстильное декорирование,
                        которое развивает Копытина Юлия.
                    </div>
                    <div class="p">Средняя стоимость наших услуг от 9000 рублей за м2.
                    </div>
                </div>
            </div>
            <div class="header">
                <p class="subheader">ИЗДАНИЯ ОПУБЛИКОВАВШИЕ НАШИ РАБОТЫ</p>
                <p class="line">_____</p>
            </div>
            <div class="press">
                <div class="item" v-for="press in press_arr" :key="press.id">
                    <press :item="press"/>
                </div>
            </div>
            <div class="header">
                    <p class="subheader">Публикации в печатных изданиях</p>
                    <p class="line">_____</p>
            </div>
            <div class="press">
                <div class="item" v-for="press in press_public_arr" :key="press.id">
                    <press :item="press"/>
                </div>
            </div>
        </div>

        <Oksfooter/>
    </div>
</template>

<script>

import Base from '../components/basePage';

export default {
    extends: Base,
    data() {
        return {
            press_arr: this.$store.state.press.press_arr,
            press_public_arr: this.$store.state.press.press_public_arr
        }
    },
    fetch() {
        this.$store.commit('setMenuLight', false);
    },
}
</script>

<style scoped lang="scss">

.main_pic {
    background-image: url(/static/korotkina2hor-4.jpg);
    background-position: center center;
    height: 500px;
    animation-name: back-out;
    animation-duration: 2s;
    background-size: auto 100%;
}

@keyframes back-out {
    0% {
        background-size: auto 120%;
    }
    100% {
        background-size: auto 100%;
    }
}

@media (max-width: 700px) {
    .main_pic {
        height: 400px
    }
}

@media (max-width: 500px) {
    .main_pic {
        height: 300px
    }
}



.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    .content {
        display: flex;
        justify-content: center;
        width: 100%;
        color: #000;

        .pane {
            max-width: 400px;
            margin: 0 30px;
        }

        .p {
            margin-bottom: 40px;
        }
    }

    .press {
        display: flex;
        flex-wrap: wrap;
        max-width: 800px;
        text-align: center;

        .item {
            width: 25%;
        }
    }

    p.line {
        color: #000;
    }

    .title2 {
        font-size: 3.25rem;
        font-family: "Vogue Highline Serif Medium";
        font-weight: normal;
        color: #000;
        padding: 50px 0;
        text-align: center;
    }

    .subheader {
        font-size: 15px;
        line-height: 21px;
        color: #000;
        margin: 25px 0 40px 0;
        text-align: center;
    }

    .line {
        text-align: center;
    }
}

@media (max-width: 700px) {
    .about {
        .content {
            flex-wrap: wrap;
            .pane {
                max-width: none;
            }
        }

        .press {
            .item {
                width: 50%;
            }
        }
    }
}


</style>
