<template>
    <div class="main has_top">
        <Oksheader title="Контакты"/>
        <div class="contacts">
            <div class="logo">
                 <img src="/static/contacts/logo3.svg"/>
            </div>
            <div class="contact">
                <div class="tel">+7 916 166 38 06</div>
                <div class="line"></div>
                <div class="call">
                    <a href="tel:+7 916 166 38 06" class="call">ПОЗВОНИТЬ</a>
                </div>
                <div class="email">oksanakorotkinastudio@gmail.com</div>
            </div>
            <div class="social">
                <div v-for="i in social_icons">
                    <a :href="i.link"><img class="icon" :src="i.icon"/></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Base from '../components/basePage';

export default {
    extends: Base,
    data() {
        return {
            social_icons: [
                // {
                //     link: 'http://facebook.com',
                //     icon: '/static/contacts/facebook.svg'
                // },
                // {
                //     link: 'http://i-2.com',
                //     icon: '/static/contacts/i-2.svg'
                // },
                // {
                //     link: 'https://instagram.com/oksanakorotkinastudio/',
                //     icon: '/static/contacts/inst.svg'
                // },
                {
                    link: 'https://t.me/OksanaKorotkinaStudio',
                    icon: '/static/contacts/telegram.svg'
                },
                {
                    link: 'https://vk.com/oksanakorotkinastudio',
                    icon: '/static/contacts/vk.svg'
                },
                {
                    link: 'https://dzen.ru/oksanakorotkinastudio',
                    icon: '/static/contacts/dzen.svg'
                },
            ]
        }
    },
    fetch() {
        this.$store.commit('setMenuLight', false);
    }
}
</script>

<style lang="less">

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;

    .contact {
        margin: 80px 0 0 0;
        display: flex;
        flex-direction: row;
        .tel {
            font-size: 29px;
            color: #5f5f5f;
            font-family: FS Elliot Pro Light;
            font-weight: lighter;
            margin-right: 30px;
            line-height: 38px;
        }
        .email {
            font-size: 20px;
            text-transform: none;
            color: #5f5f5f;
            font-family: FS Elliot Pro Light;
            font-weight: lighter;
            margin-left: 30px;
            line-height: 38px;
        }
        .call {
            display: none;
            a {
                border-radius: 100px;
                padding: 24px 0;
                width: 66%;
                margin: 20px auto;
                display: block;
                border: 1px #5f5f5f solid;
                color: #000;
                font-size: 24px;
            }
        }
    }

    .logo {
        width: 100%;
        max-width: 590px;
        img {

        }
    }

    .line {
        border-left: 1px solid #92929A;
    }

    .social {
        display: flex;
        flex-direction: row;
        max-width: 590px;
        width: 100%;
        justify-content: space-around;
        margin-top: 90px;
        margin-bottom: 60px;
        .icon {
            height: 58px;
            width: auto;
        }
    }
}

@media (max-width:667px) {
    .contacts {
        padding: 0px 0;
        .logo {
            background: #BABABA;
            img {
                padding: 40px;
            }
        }
    }
    .contacts .contact {
        flex-direction: column;
        justify-content: center;
        .tel {
            text-align: center;
            margin: 0;
        }
        .call {
            display: block;
            text-align: center;
        }
        .email {
            text-align: center;
            margin: 0
        }
        .social {
            .icon {
                margin: 70px 30px 0 30px;
            }
        }
    }
}
</style>
