<template>
    <div class="main">
        <div class="wrapper">
            <img class="logo" src="/static/Logo_stroke_b_1.svg"/>
            <NuxtLink to="/portfolio">
                <div class="follow_container">
                    <img class="follow" src="/static/index/down.svg"/>
                </div>
            </NuxtLink>
        </div>
    </div>
</template>

<script>
import Base from '../components/basePage';

export default {
    extends: Base,
    fetch: function () {
        this.$store.commit('setMenuLight', true);
    }
}
</script>

<style scoped lang="scss">

.wrapper {
    background: url(/static/index/14.jpg);
    background-position: center center;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    animation-name: back-out;
    animation-duration: 2s;
    background-size: 100% auto;
}
@keyframes back-out {
    0% {
        background-size: 120% auto;
    }
    100% {
        background-size: 100% auto;
    }
}

@keyframes back-out2 {
    0% {
        background-size: auto 120%;
    }
    100% {
        background-size: auto 100%;
    }
}

h1 {
    color: white;
    padding-top: 50px;
}

.logo_video {
    display: none;
}

img.logo {
    max-width: 650px;
    padding: 30px;
    animation: delay--;
    opacity: 0;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-duration: 2s;
}

@media (max-width: 1000px) {
    .wrapper {
        animation-name: back-out2;
        background-size: auto 100%;
    }
}

@keyframes delay-- {
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}

.follow_container {
    height: 80px;

    img.follow {
        animation-name: go-to-portfolio;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        width: 64px;
    }
}

@keyframes go-to-portfolio {
    0% {
        margin-top: 100px;
    }
    100% {
        margin-top: 80px;
    }
}
</style>




